<%
  error_messages = local_assigns[:error_messages] || []
  css_classes = local_assigns[:css_classes] || ""
  hint = local_assigns[:hint]
  labelled_by_symbol = "#{field}-symbol"
  labelled_by_label = "#{field}-label"
%>

<div class="form-group <%= 'error' unless error_messages.empty? %> <%= css_classes %>">
  <label class="form-label" for="<%= field %>" id="<%= labelled_by_label %>">
    <%= label %>
    <%= content_tag :span, hint, class: 'form-hint' unless hint.blank? %>
  </label>
  <%= simple_format error_messages.join("\n"), { class: 'error-message' }, wrapper_tag: 'span' %>
  <%= content_tag :span, '£', id: labelled_by_symbol %>
  <%= text_field_tag field, number_to_currency(value, unit: ''), 'aria-labelledby' => "#{labelled_by_label} #{labelled_by_symbol}",
                     class: %w(form-control calculator__field) << "t-calculator-#{field}" %>
</div>
