<div class="l-column-two-thirds">
  <h1>Book an appointment at LOCATION NAME</h1>
  <p>To book an appointment at this location, choose three dates in case your first choice isn’t available.</p>
</div>

<div class="SlotPicker" data-today="<%= Date.today %>">
  <div class="l-column-half">
    <div class="BookingCalendar">
      <div class="BookingCalendar-header">
        <a href="#" class="BookingCalendar-nav BookingCalendar-nav--prev"></a>
        <strong class="BookingCalendar-currentMonth"></strong>
        <a href="#" class="BookingCalendar-nav BookingCalendar-nav--next"></a>
      </div>

      <table class="BookingCalendar-dates">
        <thead>
          <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
          </tr>
        </thead>
      </table>

      <div class="BookingCalendar-mask">
        <table class="BookingCalendar-dates">
          <tbody class="BookingCalendar-datesBody">
          </tbody>
        </table>
      </div>

      <ul class="BookingCalendar-legend">
        <li>
          <span class="BookingCalendar-legendBox"></span>
          <p class="BookingCalendar-legendDesc">Available</p>
        </li>
        <li>
          <span class="BookingCalendar-legendBox BookingCalendar-legendBox--unavailable"></span>
          <p class="BookingCalendar-legendDesc">Unavailable</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="l-column-half">
    <div class="SlotPicker-timeSlots">
      <ul class="SlotPicker-days">
        <li class="SlotPicker-day SlotPicker-day--past">
          <h2 class="SlotPicker-dayTitle"></h2>
          <p>It is not possible to book an appointment in the past.</p>
        </li>
        <li class="SlotPicker-day SlotPicker-day--unavailable">
          <h2 class="SlotPicker-dayTitle"></h2>
          <p>It is not possible to book an appointment on this day.</p>
        </li>
        <li class="SlotPicker-day SlotPicker-day--beyond">
          <h2 class="SlotPicker-dayTitle"></h2>
          <p>You can only book an appointment in the next {{ daysInRange }} days.</p>
        </li>
        <li class="SlotPicker-day SlotPicker-day--leadtime">
          <h2 class="SlotPicker-dayTitle"></h2>
          <p>You can only book an appointment 3 days in advance.</p>
        </li>
      </ul>
    </div>

    <div class="SlotPicker-choices">
      <p class="SlotPicker-promoteHelp">Use the arrows to put your visit choices in the order that suits you best.</p>
    </div>

      <%
      slots = []
      (Date.today + 2.days..6.weeks.from_now).each do |date|
        unless date.saturday? || date.sunday?
          slots << ["#{date.strftime('%A, %b %e')} – Morning", "#{date}-0800-1200"]
          slots << ["#{date.strftime('%A, %b %e')} – Afternoon", "#{date}-1300-1700"]
        end
      end

      slots.compact!
      %>

      <%= select('slots', 'primary_slot', slots, { include_blank: "" }, { class: 'SlotPicker-input' }) %>
      <%= select('slots', 'secondary_slot', slots, { include_blank: "" }, { class: 'SlotPicker-input' }) %>
      <%= select('slots', 'tertiary_slot', slots, { include_blank: "" }, { class: 'SlotPicker-input' }) %>

      <p>
        <%= button_to(type: 'submit', class: 'button') do %>
          Continue
        <% end %>
      </p>
  </div>
</div>

<script type="text/html" id="SlotPicker-tmplDay">
  <li class="SlotPicker-day" id="date-{{ slot }}">
    <h2 class="SlotPicker-dayTitle">{{ date }}</h2>
    {{#if oneSlot}}
      <p class="SlotPicker-dayOneSlot">Only one time is available on this day, select it to continue</p>
    {{/if}}
    {{{ slots }}}
  </li>
</script>

<script type="text/html" id="SlotPicker-tmplTimeSlot">
  <label class="SlotPicker-label" for="slot-{{ slot }}">
    <input class="SlotPicker-slot" type="checkbox" value="{{ slot }}" id="slot-{{ slot }}">
    <strong class="SlotPicker-time">
      {{#ifCond time '8am'}}
      Morning
      {{else}}
      Afternoon
      {{/ifCond}}
  </strong>
    <span class="SlotPicker-duration">45 mins</span>
  </label>
</script>

<script type="text/html" id="BookingCalendar-tmplRow">
  <tr>
    {{{ cells }}}
  </tr>
</script>

<script type="text/html" id="BookingCalendar-tmplDate">
  <td class="{{ klass }}">
    <div class="BookingCalendar-content">
      <a class="BookingCalendar-dateLink" data-date="{{ date }}" href="#date-{{ date }}">
        <span class="BookingCalendar-day">{{ day }}</span>
        {{#if today}}
          <span class="BookingCalendar-tag BookingCalendar-tag--today">Today</span>
        {{/if}}
        {{#if newMonth}}
          <span class="BookingCalendar-tag" id="month-{{ monthIso }}">{{ monthShort }}</span>
        {{/if}}
      </a>
    </div>
  </td>
</script>

<script type="text/html" id="BookingCalendar-tmplNav">
  {{ monthAbr }}<span class="BookingCalendar-navFull">{{ monthRemaining }}</span>
</script>

<script type="text/html" id="SlotPicker-tmplChoice">
  <div class="SlotPicker-choice">
    <div class="SlotPicker-choiceInner">
      <div class="SlotPicker-position"><span>{{ num }}</span></div>
      <div class="SlotPicker-choiceContent">
        <p class="SlotPicker-date"></p>
        <p class="SlotPicker-time"></p>
      </div>
      <p class="SlotPicker-prompt">Choose a date and time from the calendar</p>
      {{#unless first}}
        <a class="SlotPicker-icon SlotPicker-icon--promote" href="#">Promote</a>
      {{/unless}}
      <a class="SlotPicker-icon SlotPicker-icon--remove" href="#">Remove</a>
    </div>
  </div>
</script>

<script type="text/html" id="DateSlider-tmplDay">
  <li data-date="{{ isoDate }}" class="{{ klass }}">
    {{#if dayLabel}}
      <small>{{ weekDay }}</small>
    {{/if}}
    {{ day }}
  </li>
</script>

<script type="text/html" id="DateSlider-tmplMonth">
  <span data-date="{{ yearMonth }}">{{ month }}</span>
</script>

<% content_for :after_script do %>
  <%= javascript_include_tag 'slot-picker' %>
  <script>
    var slotPicker = new PWPG.SlotPicker();
  </script>
<% end %>
