<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <h1>Your details</h1>

    <%= form_for @booking_request, url: booking_request_complete_location_path(id: location_id), as: :booking_request do |f| %>
      <%= f.hidden_field :primary_slot %>
      <%= f.hidden_field :secondary_slot %>
      <%= f.hidden_field :tertiary_slot %>

      <div class="form-group">
        <%= f.label :first_name, class: 'form-label' %>
        <%= f.text_field :first_name, class: 'form-control t-first-name' %>
      </div>

      <div class="form-group">
        <%= f.label :last_name, class: 'form-label' %>
        <%= f.text_field :last_name, class: 'form-control t-last-name' %>
      </div>

      <div class="form-group">
        <%= f.label :email, class: 'form-label' do %>
        Email
        <span class="form-hint">We’ll send you a reminder of your appointment details.</span>
        <% end %>

        <%= f.text_field :email, class: 'form-control t-email' %>
      </div>

      <div class="form-group">
        <%= f.label :telephone_number, class: 'form-label' %>
        <%= f.text_field :telephone_number, class: 'form-control t-telephone-number' %>
      </div>

      <div class="form-group">
        <%= f.label :memorable_word, class: 'form-label' do %>
        Your memorable word
        <span class="form-hint">Our pensions expert will repeat this word when they call so you know it’s us.</span>
        <% end %>
        <%= f.text_field :memorable_word, class: 'form-control t-memorable-word' %>
      </div>

      <div class="form-group">
        <fieldset class="inline">
          <legend>Your age</legend>

          <%= f.label :appointment_type, value: 'under-50', class: 'block-label' do %>
              <%= f.radio_button :appointment_type, 'under-50', checked: false,
                                 class: 't-appointment-type-1' %>
              Under 50
          <% end %>

          <%= f.label :appointment_type, value: '50-54', class: 'block-label' do %>
              <%= f.radio_button :appointment_type, '50-54', checked: false,
                                 class: 't-appointment-type-2' %>
              50 to 54
          <% end %>

          <%= f.label :appointment_type, value: '55-plus', class: 'block-label' do %>
            <%= f.radio_button :appointment_type, '55-plus', checked: false,
                                 class: 't-appointment-type-3' %>
            55 or over
          <% end %>
        </fieldset>
      </div>

      <div class="form-group">
        <%= f.label :accessibility_requirements do %>
          <%= f.check_box :accessibility_requirements, class: 't-accessibility-requirements' %> Yes, I have accessibility requirements
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :opt_in do %>
          <%= f.check_box :opt_in, class: 't-opt-in' %> Yes, I would like to receive marketing information
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :dc_pot do %>
          <%= f.check_box :dc_pot, class: 't-dc-pot' %> I have a defined contribution pension pot
        <% end %>
      </div>

      <div class="form-group">
        <%= f.submit 'Submit booking request', class: 'button t-submit' %>
      </div>

    <% end %>
  </div>
</div>
