<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <h1>Your details</h1>

    <% if @booking_request.errors.any? %>
      <div class="error-summary t-errors" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
          There was a problem with your details
        </h1>

        <ul class="error-summary-list">
          <% @booking_request.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for @booking_request, url: booking_request_complete_location_path(id: location_id), as: :booking_request do |f| %>
      <%= f.hidden_field :primary_slot %>
      <%= f.hidden_field :secondary_slot %>
      <%= f.hidden_field :tertiary_slot %>

      <div class="form-group <%= 'error' if @booking_request.errors.include?(:first_name) %>">
        <%= f.label :first_name, class: 'form-label' %>
        <% if @booking_request.errors.include?(:first_name) %>
          <span class="error-message"><%= @booking_request.errors[:first_name].to_sentence %></span>
        <% end %>
        <%= f.text_field :first_name, class: 't-first-name form-control' %>
      </div>

      <div class="form-group <%= 'error' if @booking_request.errors.include?(:last_name) %>">
        <%= f.label :last_name, class: 'form-label' %>
        <% if @booking_request.errors.include?(:last_name) %>
          <span class="error-message"><%= @booking_request.errors[:last_name].to_sentence %></span>
        <% end %>
        <%= f.text_field :last_name, class: 't-last-name form-control' %>
      </div>

      <div class="form-group <%= 'error' if @booking_request.errors.include?(:email) %>">
        <%= f.label :email, class: 'form-label' do %>
          Email
          <span class="form-hint">We’ll send an email confirming your appointment date</span>
        <% end %>

        <% if @booking_request.errors.include?(:email) %>
          <span class="error-message"><%= @booking_request.errors[:email].to_sentence %></span>
        <% end %>

        <%= f.text_field :email, class: 't-email form-control' %>
      </div>

      <div class="form-group <%= 'error' if @booking_request.errors.include?(:telephone_number) %>">
        <%= f.label :telephone_number, class: 'form-label' %>
        <% if @booking_request.errors.include?(:telephone_number) %>
          <span class="error-message"><%= @booking_request.errors[:telephone_number].to_sentence %></span>
        <% end %>
        <%= f.text_field :telephone_number, class: 't-telephone-number form-control' %>
      </div>

      <div class="form-group <%= 'error' if @booking_request.errors.include?(:memorable_word) %>">
        <%= f.label :memorable_word, class: 'form-label' do %>
          Your memorable word
          <span class="form-hint">Our guidance specialist will repeat this word when they call so you know it’s us</span>
        <% end %>
        <% if @booking_request.errors.include?(:memorable_word) %>
          <span class="error-message"><%= @booking_request.errors[:memorable_word].to_sentence %></span>
        <% end %>
        <%= f.text_field :memorable_word, class: 't-memorable-word form-control' %>
      </div>

      <div class="form-group <%= 'error' if @booking_request.errors.include?(:date_of_birth) %>">
        <label>
          <span class="sr-only">Date of birth</span>
          <%=
            f.number_field(
              'date_of_birth(3i)',
              id: "#{f.object_name}_date_of_birth_3i",
              use_label: false,
              value: f.object.date_of_birth.try(:day),
              placeholder: 'DD',
              class: 'f-dob__input js-dob-day t-date-of-birth-day',
              pattern: '[0-9]*',
              min: 1,
              max: 31,
              'aria-describedby': 'dob-hint'
            )
          %>
        </label>
        <label>
          <span class="sr-only">Date of birth</span>
          <%=
            f.number_field(
              'date_of_birth(2i)',
              id: "#{f.object_name}_date_of_birth_2i",
              use_label: false,
              value: f.object.date_of_birth.try(:month),
              placeholder: 'MM',
              class: 'form-dob__input js-dob-month t-date-of-birth-month',
              pattern: '[0-9]*',
              min: 1,
              max: 12
            )
          %>
        </label>
        <label>
          <span class="sr-only">Date of birth</span>
          <%=
            f.number_field(
              'date_of_birth(1i)',
              id: "#{f.object_name}_date_of_birth_1i",
              use_label: false,
              value: f.object.date_of_birth.try(:year),
              placeholder: 'YYYY',
              class: 'form-dob__input form-dob__input--year js-dob-year t-date-of-birth-year',
              pattern: '[0-9]*',
              min: 120.years.ago.year,
              max: Date.today.year
            )
          %>
        </label>
        <span class="help-block" id="dob-hint">For example, 31 3 1950</span>
      </div>

      <div class="form-group <%= 'error' if @booking_request.errors.include?(:dc_pot) %>">
        <fieldset class="inline">
          <legend>I have a defined contribution pension pot (not a final salary or career average pension)</legend>

          <% if @booking_request.errors.include?(:dc_pot) %>
            <span class="error-message"><%= @booking_request.errors[:dc_pot].to_sentence %></span>
          <% end %>

          <%= f.label :dc_pot, value: 'yes', class: 'block-label' do %>
              <%= f.radio_button :dc_pot, 'yes',
                                 class: 't-dc-pot-1' %>
              Yes
          <% end %>

          <%= f.label :dc_pot, value: 'no', class: 'block-label' do %>
              <%= f.radio_button :dc_pot, 'no',
                                 class: 't-dc-pot-2' %>
              No
          <% end %>

          <%= f.label :dc_pot, value: 'not-sure', class: 'block-label' do %>
            <%= f.radio_button :dc_pot, 'not-sure',
                                 class: 't-dc-pot-3' %>
            Not sure
          <% end %>
        </fieldset>
      </div>

      <div class="form-group <%= 'error' if @booking_request.errors.include?(:accessibility_requirements) %>">
        <%= f.label :accessibility_requirements do %>
          <% if @booking_request.errors.include?(:accessibility_requirements) %>
            <span class="error-message"><%= @booking_request.errors[:accessibility_requirements].to_sentence %></span>
          <% end %>
          <%= f.check_box :accessibility_requirements, class: 't-accessibility-requirements' %> I have accessibility needs, eg wheelchair access
        <% end %>
      </div>

      <div class="form-group <%= 'error' if @booking_request.errors.include?(:opt_in) %>">
        <%= f.label :opt_in do %>
          <% if @booking_request.errors.include?(:opt_in) %>
            <span class="error-message"><%= @booking_request.errors[:opt_in].to_sentence %></span>
          <% end %>
          <%= f.check_box :opt_in, class: 't-opt-in' %> I accept the <a href="/privacy" target="_blank">terms and conditions</a>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.submit 'Submit booking request', class: 'button t-submit' %>
      </div>

    <% end %>

    <%= render 'feedbacks/feedback_form' %>
  </div>

  <div class="l-column-third">
    <h2>Your dates</h2>
    <p>You requested these dates for an appointment.</p>

    <div class="SlotPicker-choices is-chosen SlotPicker--selected SlotPicker--read-only">
      <div class="SlotPicker-choice is-chosen">
        <div class="SlotPicker-choiceInner">
          <div class="SlotPicker-position"><span>1</span></div>
          <div class="SlotPicker-choiceContent">
            <p class="SlotPicker-date"><%= slot_as_formatted_date(@booking_request.primary_slot) %></p>
            <p class="SlotPicker-time">
              <%= slot_period(@booking_request.primary_slot) %>, <%= slot_duration %></p>
          </div>
        </div>
      </div>

      <div class="SlotPicker-choice is-chosen">
        <div class="SlotPicker-choiceInner">
          <div class="SlotPicker-position"><span>2</span></div>
          <div class="SlotPicker-choiceContent">
            <p class="SlotPicker-date"><%= slot_as_formatted_date(@booking_request.secondary_slot) %></p>
            <p class="SlotPicker-time">
              <%= slot_period(@booking_request.secondary_slot) %>, <%= slot_duration %></p>
          </div>
        </div>
      </div>

      <div class="SlotPicker-choice is-chosen">
        <div class="SlotPicker-choiceInner">
          <div class="SlotPicker-position"><span>3</span></div>
          <div class="SlotPicker-choiceContent">
            <p class="SlotPicker-date"><%= slot_as_formatted_date(@booking_request.tertiary_slot) %></p>
            <p class="SlotPicker-time">
              <%= slot_period(@booking_request.tertiary_slot) %>, <%= slot_duration %></p>
          </div>
        </div>
      </div>
    </div>

    <p>
      <%= link_to 'Change dates',
        booking_request_step_one_location_path(
          id: location_id,
          booking_request: {
            primary_slot: @booking_request.primary_slot,
            secondary_slot: @booking_request.secondary_slot,
            tertiary_slot: @booking_request.tertiary_slot
          }
        ),
        class: 't-back'
      %>
    </p>
  </div>
</div>

<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'OnlineBooking',
    'valid': '<%= @booking_request.errors.empty? %>',
    'step': '2',
    'booking_location_name': '<%= @booking_request.booking_location.name %>',
    'delivery_location_name': '<%= @booking_request.location_name %>'
  });
</script>
