<% content_for(:page_title, t('service.title', page_title: 'Your details')) %>
<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <h1>Your details</h1>

    <% if @booking_request.errors.any? %>
      <div class="error-summary t-errors" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
          Unable to submit the form
        </h2>
        <p>Check the following:</p>

        <ul class="error-summary-list">
          <% @booking_request.errors.each do |key, message| %>
            <li><%= link_to "#{BookingRequestForm.human_attribute_name key} – #{message}", "#booking_request_#{key}" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for @booking_request, url: booking_request_complete_location_path(id: location_id), as: :booking_request do |f| %>
      <%= f.hidden_field :primary_slot %>
      <%= f.hidden_field :secondary_slot %>
      <%= f.hidden_field :tertiary_slot %>

      <div class="form-group <%= 'form-group-error' if @booking_request.errors.include?(:first_name) %>">
        <%= f.label :first_name, class: 'form-label-bold' %>
        <% if @booking_request.errors.include?(:first_name) %>
          <span class="error-message"><%= @booking_request.errors[:first_name].to_sentence.capitalize %></span>
        <% end %>
        <%= f.text_field :first_name, class: "t-first-name form-control #{'form-control-error' if @booking_request.errors.include?(:first_name)}" %>
      </div>

      <div class="form-group <%= 'form-group-error' if @booking_request.errors.include?(:last_name) %>">
        <%= f.label :last_name, class: 'form-label-bold' %>
        <% if @booking_request.errors.include?(:last_name) %>
          <span class="error-message"><%= @booking_request.errors[:last_name].to_sentence.capitalize %></span>
        <% end %>
        <%= f.text_field :last_name, class: "t-last-name form-control #{'form-control-error' if @booking_request.errors.include?(:last_name)}" %>
      </div>

      <div class="form-group <%= 'form-group-error' if @booking_request.errors.include?(:email) %>">
        <%= f.label :email, class: 'form-label-bold' do %>
          Email
          <span class="form-hint">We’ll send an email confirming your appointment date</span>
        <% end %>

        <% if @booking_request.errors.include?(:email) %>
          <span class="error-message"><%= @booking_request.errors[:email].to_sentence.capitalize %></span>
        <% end %>

        <div class="email-outer">
          <%= f.email_field :email, class: "t-email form-control #{'form-control-error' if @booking_request.errors.include?(:email)}", data: email_validation_data_attributes %>
        </div>
      </div>

      <div class="form-group <%= 'form-group-error' if @booking_request.errors.include?(:telephone_number) %>">
        <%= f.label :telephone_number, class: 'form-label-bold' do %>
          Phone number
          <span class="form-hint">We’ll send an SMS appointment reminder if a mobile number is provided</span>
        <% end %>
        <% if @booking_request.errors.include?(:telephone_number) %>
          <span class="error-message"><%= @booking_request.errors[:telephone_number].to_sentence.capitalize %></span>
        <% end %>
        <%= f.text_field :telephone_number, class: "t-telephone-number form-control #{'form-control-error' if @booking_request.errors.include?(:telephone_number)}" %>
      </div>

      <div class="form-group <%= 'form-group-error' if @booking_request.errors.include?(:memorable_word) %>">
        <%= f.label :memorable_word, class: 'form-label-bold' do %>
          Your memorable word
          <span class="form-hint">Our pension specialist will repeat this word when they call so you know it’s us</span>
        <% end %>
        <% if @booking_request.errors.include?(:memorable_word) %>
          <span class="error-message"><%= @booking_request.errors[:memorable_word].to_sentence.capitalize %></span>
        <% end %>
        <%= f.text_field :memorable_word, class: "t-memorable-word form-control #{'form-control-error' if @booking_request.errors.include?(:memorable_word)}" %>
      </div>

      <div class="form-group <%= 'form-group-error' if @booking_request.errors.include?(:date_of_birth) %>">
        <fieldset>
          <legend>
            <span class="form-label-bold">
              Date of birth
            </span>
            <span class="form-hint" id="dob-hint">You must be aged 50 or over to book an appointment, eg 31 3 1950</span>
          </legend>
          <div class="form-date" id="booking_request_date_of_birth" tabindex="-1">
            <div class="form-group form-group-day">
              <label class="form-label" for="<%= f.object_name %>_date_of_birth_3i">Day</label>
              <%=
                f.number_field(
                  'date_of_birth(3i)',
                  id: "#{f.object_name}_date_of_birth_3i",
                  use_label: false,
                  value: f.object.date_of_birth.try(:day),
                  placeholder: 'DD',
                  class: "f-dob__input form-control js-dob-day t-date-of-birth-day #{'form-control-error' if @booking_request.errors.include?(:date_of_birth)}",
                  pattern: '[0-9]*',
                  min: 1,
                  max: 31,
                  'aria-describedby': 'dob-hint'
                )
              %>
            </div>
            <div class="form-group form-group-month">
              <label class="form-label" for="<%= f.object_name %>_date_of_birth_2i">Month</label>
              <%=
                f.number_field(
                  'date_of_birth(2i)',
                  id: "#{f.object_name}_date_of_birth_2i",
                  use_label: false,
                  value: f.object.date_of_birth.try(:month),
                  placeholder: 'MM',
                  class: "form-dob__input form-control js-dob-month t-date-of-birth-month #{'form-control-error' if @booking_request.errors.include?(:date_of_birth)}",
                  pattern: '[0-9]*',
                  min: 1,
                  max: 12
                )
              %>
            </div>
            <div class="form-group form-group-year">
              <label class="form-label" for="<%= f.object_name %>_date_of_birth_1i">Year</label>
              <%=
                f.number_field(
                  'date_of_birth(1i)',
                  id: "#{f.object_name}_date_of_birth_1i",
                  use_label: false,
                  value: f.object.date_of_birth.try(:year),
                  placeholder: 'YYYY',
                  class: "form-dob__input form-control form-dob__input--year js-dob-year t-date-of-birth-year #{'form-control-error' if @booking_request.errors.include?(:date_of_birth)}",
                  pattern: '[0-9]*',
                  min: 120.years.ago.year,
                  max: Date.today.year
                )
              %>
            </div>
          </div>
          <% if @booking_request.errors.include?(:date_of_birth) %>
            <span class="error-message"><%= @booking_request.errors[:date_of_birth].to_sentence.capitalize %></span>
          <% end %>
        </fieldset>
      </div>

      <div class="form-group <%= 'form-group-error' if @booking_request.errors.include?(:dc_pot) %>" id="booking_request_dc_pot" tabindex="-1">
        <fieldset class="inline">
          <legend>I have a defined contribution pension pot (<b>not</b> a final salary or career average pension)</legend>
          <span class="form-hint">If you have both, select ‘Yes’</span>

          <% if @booking_request.errors.include?(:dc_pot) %>
            <span class="error-message"><%= @booking_request.errors[:dc_pot].to_sentence.capitalize %></span>
          <% end %>

          <div class="multiple-choice">
            <%= f.radio_button :dc_pot, 'yes', class: 't-dc-pot-1' %>
            <%= f.label :dc_pot, value: 'yes' do %>
              Yes
            <% end %>
          </div>

          <div class="multiple-choice">
            <%= f.radio_button :dc_pot, 'no', class: 't-dc-pot-2' %>
            <%= f.label :dc_pot, value: 'no' do %>
              No
            <% end %>
          </div>

          <div class="multiple-choice">
            <%= f.radio_button :dc_pot, 'not-sure', class: 't-dc-pot-3' %>
            <%= f.label :dc_pot, value: 'not-sure' do %>
              Not sure
            <% end %>
          </div>
        </fieldset>
      </div>

      <div class="form-group <%= 'form-group-error' if @booking_request.errors.include?(:accessibility_requirements) %>">
        <div class="multiple-choice">
          <%= f.check_box :accessibility_requirements, class: 't-accessibility-requirements' %>
          <%= f.label :accessibility_requirements do %>
            <% if @booking_request.errors.include?(:accessibility_requirements) %>
              <span class="error-message"><%= @booking_request.errors[:accessibility_requirements].to_sentence.capitalize %></span>
            <% end %>
            I require an adjustment to help me access my appointment eg wheelchair access, BSL interpreter
            <span class="form-hint" id="accessibility-hint">We may contact you for details of your specific needs</span>
          <% end %>
        </div>
      </div>

      <div class="form-group" data-character-limit>
        <%= f.label :additional_info, class: 'form-label-bold' do %>
          Additional information
          <span class="form-hint">
            eg any times you’re not available, accessibility adjustments
          </span>
        <% end %>
        <%= f.text_area :additional_info, class: 'form-control form-control-3-4 js-character-limit-input', rows: 5, maxlength: 160, data: { maxlength: 160 } %>
      </div>

      <div class="form-group <%= 'form-group-error' if @booking_request.errors.include?(:where_you_heard) %>">
        <%= f.label :where_you_heard, 'Where did you first hear of Pension Wise?', class: 'form-label-bold' %>
        <% if @booking_request.errors.include?(:where_you_heard) %>
          <span class="error-message"><%= @booking_request.errors[:where_you_heard].to_sentence.capitalize %></span>
        <% end %>
        <%= f.select :where_you_heard,
              options_for_select(WhereYouHeard::OPTIONS.invert.to_a, @booking_request.where_you_heard),
              { include_blank: true},
              { class: "t-where-you-heard form-control #{'form-control-error' if @booking_request.errors.include?(:where_you_heard)}" }
        %>
      </div>

      <div class="form-group t-gdpr-consent" id="telephone_appointment_gdpr_consent" tabindex="-1">
        <fieldset class="inline">
          <legend>Customer research consent</legend>
          <span class="form-hint">
            Your feedback helps us improve the service. Is it OK if we share your
            contact details with our trusted research partner? Ipsos MORI may
            contact you to ask if you would like to provide feedback and you can
            decide then if you want to take part.
          </span>

          <div class="multiple-choice">
            <%= f.radio_button :gdpr_consent, 'yes', class: 't-gdpr-consent-yes' %>
            <%= f.label :gdpr_consent, value: 'yes' do %>Yes<% end %>
          </div>

          <div class="multiple-choice">
            <%= f.radio_button :gdpr_consent, 'no', class: 't-gdpr-consent-no' %>
            <%= f.label :gdpr_consent, value: 'no' do %>No<% end %>
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <%= f.submit 'Submit booking request', class: 'button t-submit', data: { disable_with: 'Please wait...' } %>
      </div>

      <div role="note" aria-label="Information" class="application-notice info-notice">
        <p>Pension Wise collects and stores personal data for the purpose of delivering Pensions Guidance.</p>
        <p>Your data will be shared with Citizens Advice only where it is necessary to provide you with Pension Wise guidance.</p>
        <p>Full details of our privacy policy, including information on your rights in relation to the data we hold can be <%= link_to 'found here', guide_path('privacy') %>.</p>
      </div>

    <% end %>

    <%= render 'feedbacks/feedback_form' %>
  </div>

  <div class="l-column-third">
    <h2>Your dates</h2>
    <p>You requested these dates for an appointment.</p>

    <div class="is-chosen SlotPicker--selected SlotPicker--read-only">
      <div class="SlotPicker-choice is-chosen">
        <div class="SlotPicker-choiceInner">
          <div class="SlotPicker-position"><span>1</span></div>
          <div class="SlotPicker-choiceContent">
            <p class="SlotPicker-date"><%= slot_as_formatted_date(@booking_request.primary_slot) %></p>
            <p class="SlotPicker-time">
              <%= slot_period(@booking_request.primary_slot) %>, <%= slot_duration %></p>
          </div>
        </div>
      </div>

      <% if @booking_request.secondary_slot.present? %>
      <div class="SlotPicker-choice is-chosen">
        <div class="SlotPicker-choiceInner">
          <div class="SlotPicker-position"><span>2</span></div>
          <div class="SlotPicker-choiceContent">
            <p class="SlotPicker-date"><%= slot_as_formatted_date(@booking_request.secondary_slot) %></p>
            <p class="SlotPicker-time">
              <%= slot_period(@booking_request.secondary_slot) %>, <%= slot_duration %></p>
          </div>
        </div>
      </div>
      <% end %>

      <% if @booking_request.tertiary_slot.present? %>
      <div class="SlotPicker-choice is-chosen">
        <div class="SlotPicker-choiceInner">
          <div class="SlotPicker-position"><span>3</span></div>
          <div class="SlotPicker-choiceContent">
            <p class="SlotPicker-date"><%= slot_as_formatted_date(@booking_request.tertiary_slot) %></p>
            <p class="SlotPicker-time">
              <%= slot_period(@booking_request.tertiary_slot) %>, <%= slot_duration %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <p>
      <%= link_to 'Change dates',
        booking_request_step_one_location_path(
          id: location_id,
          booking_request: {
            primary_slot: @booking_request.primary_slot,
            secondary_slot: @booking_request.secondary_slot,
            tertiary_slot: @booking_request.tertiary_slot
          }
        ),
        class: 't-back'
      %>
    </p>
  </div>
</div>

<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'OnlineBooking',
    'valid': '<%= @booking_request.errors.empty? %>',
    'step': '2',
    'booking_location_name': '<%= @booking_request.booking_location.name %>',
    'delivery_location_name': '<%= @booking_request.location_name %>'
  });
</script>
