<% content_for(:page_title, t('service.title', page_title: 'Customer details')) %>

<div class="l-column-two-thirds">
  <%= f.hidden_field :start_at, id: 'hidden_nudge_appointment_start_at_step_3' %>
  <%= f.hidden_field :schedule_type, id: 'hidden_nudge_appointment_schedule_type_step_3' %>

  <div role="note" aria-label="Information" class="application-notice info-notice">
    <p>We're now booking your Pension Wise appointment. Pension Wise Guidance is delivered by MoneyHelper.</p>
    <p>MoneyHelper collects and stores personal data for the purposes of delivering pension guidance. Your data will be shared with their delivery partners only where it is necessary to provide you with Pension Wise guidance.</p>
    <p>Full details of MoneyHelper's privacy policy, including information on your rights in relation to the data they hold can be found on the MoneyHelper website. You can find this in your booking confirmation.</p>
  </div>

  <h2 class="slot-picker-header">Customer details</h2>

  <div class="form-group <%= 'form-group-error' if @nudge_appointment.errors.include?(:first_name) %>">
    <%= f.label :first_name, class: 'form-label-bold' %>
    <% if @nudge_appointment.errors.include?(:first_name) %>
      <span class="error-message" id="first_name_error"><span class="visually-hidden">Error: </span><%= @nudge_appointment.errors[:first_name].to_sentence.capitalize %></span>
    <% end %>
    <%= f.text_field :first_name, autocomplete: 'off', aria: { required: true, describedby: 'first_name_error' }, class: "obfuscate t-first-name form-control #{'form-control-error' if @nudge_appointment.errors.include?(:first_name)}" %>
  </div>

  <div class="form-group <%= 'form-group-error' if @nudge_appointment.errors.include?(:last_name) %>">
    <%= f.label :last_name, class: 'form-label-bold' %>
    <% if @nudge_appointment.errors.include?(:last_name) %>
      <span class="error-message" id="last_name_error"><span class="visually-hidden">Error: </span><%= @nudge_appointment.errors[:last_name].to_sentence.capitalize %></span>
    <% end %>
    <%= f.text_field :last_name, autocomplete: 'off', aria: { required: true, describedby: 'last_name_error' }, class: "obfuscate t-last-name form-control #{'form-control-error' if @nudge_appointment.errors.include?(:last_name)}" %>
  </div>

  <div class="form-group <%= 'form-group-error' if @nudge_appointment.errors.include?(:phone) %>">
    <%= f.label :phone, class: 'form-label-bold' do %>
      Phone number
      <span class="form-hint">The number you’d like Pension Wise to call you on. If a mobile number is provided, Pension Wise will send a text message appointment reminder. You can cancel your appointment via text message response</span>
    <% end %>

    <% if @nudge_appointment.errors.include?(:phone) %>
      <span class="error-message" id="phone_error"><span class="visually-hidden">Error: </span><%= @nudge_appointment.errors[:phone].to_sentence.capitalize %></span>
    <% end %>

    <%= f.text_field :phone, autocomplete: 'off', aria: { required: true, describedby: 'phone_error' }, class: "obfuscate t-phone form-control #{'form-control-error' if @nudge_appointment.errors.include?(:phone)}" '' %>
    <details>
      <summary>Agent</summary>
      For non-UK numbers include the country dialling code.
    </details>
  </div>

  <div class="form-group <%= 'form-group-error' if @nudge_appointment.errors.include?(:confirmation) %>" id="confirmation" tabindex="-1" data-radio-toggle>
    <fieldset class="inline">
      <legend class="form-label-bold">
        Appointment confirmation preference
        <span class="form-hint">How you’d like to receive your appointment confirmation</span>
      </legend>

      <% if @nudge_appointment.errors.include?(:confirmation) %>
        <span class="error-message"><%= @nudge_appointment.errors[:confirmation].to_sentence.capitalize %></span>
      <% end %>

      <div class="multiple-choice" data-target="confirm-email">
        <%= f.radio_button :confirmation, 'email', class: 't-confirmation-email' %>
        <%= f.label :confirmation, value: 'email' do %>
          Email
        <% end %>
      </div>

      <div class="multiple-choice" data-target="confirm-mobile">
        <%= f.radio_button :confirmation, 'sms', class: 't-confirmation-sms' %>
        <%= f.label :confirmation, value: 'sms' do %>
          Text message
        <% end %>
      </div>
    </fieldset>
  </div>

  <div id="confirm-email" class="js-hidden application-notice info-notice">
    <div class="form-group <%= 'form-group-error' if @nudge_appointment.errors.include?(:email) %>">
      <%= f.label :email, class: 'form-label-bold' do %>
        Email
        <span class="form-hint">Pension Wise will send an email confirming your appointment date</span>
      <% end %>

      <% if @nudge_appointment.errors.include?(:email) %>
        <span class="error-message" id="email_error"><span class="visually-hidden">Error: </span><%= @nudge_appointment.errors[:email].to_sentence.capitalize %></span>
      <% end %>

      <div class="email-outer">
        <%= f.email_field :email, autocomplete: 'off', aria: { required: true, describedby: 'email_error' }, class: "obfuscate t-email form-control #{'form-control-error' if @nudge_appointment.errors.include?(:email)}" %>
      </div>
      <details>
        <summary>Agent</summary>
        Confirm email address using phonetics where possible
      </details>
    </div>
  </div>

  <div id="confirm-mobile" class="js-hidden application-notice info-notice">
    <div class="form-group <%= 'form-group-error' if @nudge_appointment.errors.include?(:mobile) %>">
      <%= f.label :mobile, class: 'form-label-bold' do %>
        Text message
        <span class="form-hint">Pension Wise will send a text message confirmation to this mobile number</span>
      <% end %>

      <% if @nudge_appointment.errors.include?(:mobile) %>
        <span class="error-message" id="mobile_error"><span class="visually-hidden">Error: </span><%= @nudge_appointment.errors[:mobile].to_sentence.capitalize %></span>
      <% end %>

      <%= f.text_field :mobile, autocomplete: 'off', aria: { required: true, describedby: 'mobile_error' }, class: "obfuscate t-mobile form-control #{'form-control-error' if @nudge_appointment.errors.include?(:mobile)}" %>
    </div>
  </div>

  <div class="form-group <%= 'form-group-error' if @nudge_appointment.errors.include?(:memorable_word) %>">
    <%= f.label :memorable_word, class: 'form-label-bold' do %>
      Your memorable word
      <span class="form-hint">The pension specialist will repeat this word when they call so you know it’s Pension Wise. The memorable word should be unique and not a password or a memorable word you have previously used eg mother's maiden name</span>
    <% end %>

    <% if @nudge_appointment.errors.include?(:memorable_word) %>
      <span class="error-message" id="memorable_word_error"><span class="visually-hidden">Error: </span><%= @nudge_appointment.errors[:memorable_word].to_sentence.capitalize %></span>
    <% end %>
    <%= f.text_field :memorable_word, autocomplete: 'off', aria: { required: true, describedby: 'memorable_word_error' }, class: "obfuscate t-memorable-word form-control #{'form-control-error' if @nudge_appointment.errors.include?(:memorable_word)}" %>
  </div>

  <div class="form-group <%= 'form-group-error' if @nudge_appointment.errors.include?(:date_of_birth) %>" data-customer-age data-appointment-date="<%= @nudge_appointment.start_at.to_date %>" data-output-id="customer-age">
    <fieldset>
      <legend>
        <span class="form-label-bold">
          Date of birth
        </span>
        <span class="form-hint t-dob-hint" id="dob-hint">There are some circumstances where someone under 50 is also eligible</span>
      </legend>
      <div class="form-date" id="nudge_appointment_date_of_birth" tabindex="-1">
        <div class="form-group form-group-day">
          <label aria-label="Date of birth, day e.g. 25" class="form-label" for="<%= f.object_name %>_date_of_birth_day">
            <span class="visually-hidden">Date of birth, day e.g. 25</span>
            <span aria-hidden="true">Day</span>
          </label>
          <%=
            f.number_field(
              'date_of_birth_day',
              id: "#{f.object_name}_date_of_birth_day",
              use_label: false,
              value: f.object.date_of_birth.try(:day),
              placeholder: 'DD',
              class: "obfuscate f-dob__input form-control js-dob-day t-date-of-birth-day #{'form-control-error' if @nudge_appointment.errors.include?(:date_of_birth)}",
              pattern: '[0-9]*',
              min: 1,
              max: 31,
              aria: { required: true, describedby: 'date_of_birth_error' }
            )
          %>
        </div>
        <div class="form-group form-group-month">
          <label aria-label="Date of birth, month e.g. 12" class="form-label" for="<%= f.object_name %>_date_of_birth_month">
            <span class="visually-hidden">Date of birth, month e.g. 12</span>
            <span aria-hidden="true">Month</span>
          </label>
          <%=
            f.number_field(
              'date_of_birth_month',
              id: "#{f.object_name}_date_of_birth_month",
              use_label: false,
              value: f.object.date_of_birth.try(:month),
              placeholder: 'MM',
              class: "obfuscate form-dob__input form-control js-dob-month t-date-of-birth-month #{'form-control-error' if @nudge_appointment.errors.include?(:date_of_birth)}",
              pattern: '[0-9]*',
              min: 1,
              max: 12,
              aria: { required: true, describedby: 'date_of_birth_error' }
            )
          %>
        </div>
        <div class="form-group form-group-year">
          <label aria-label="Date of birth, year e.g. 1950" class="form-label" for="<%= f.object_name %>_date_of_birth_year">
            <span class="visually-hidden">Date of birth, year e.g. 1950</span>
            <span aria-hidden="true">Year</span>
          </label>
          <%=
            f.number_field(
              'date_of_birth_year',
              id: "#{f.object_name}_date_of_birth_year",
              use_label: false,
              value: f.object.date_of_birth.try(:year),
              placeholder: 'YYYY',
              class: "obfuscate form-dob__input form-control form-dob__input--year js-dob-year t-date-of-birth-year #{'form-control-error' if @nudge_appointment.errors.include?(:date_of_birth)}",
              pattern: '[0-9]*',
              min: 100.years.ago.year,
              max: Date.today.year,
              aria: { required: true, describedby: 'date_of_birth_error' }
            )
          %>
        </div>
        <details>
          <summary>Agent</summary>
          Pension Wise collects date of birth so that pension specialists can establish whether a customer is eligible to access their private pension pots and also clarify their State Pension age.
        </details>
      </div>
      <% if @nudge_appointment.errors.include?(:date_of_birth) %>
        <span class="error-message" id="date_of_birth_error"><span class="visually-hidden">Error: </span><%= @nudge_appointment.errors[:date_of_birth].to_sentence.capitalize %></span>
      <% end %>
    </fieldset>
  </div>

  <div class="application-notice info-notice js-hidden" id="customer-age">
    <div class="form-group <%= 'form-group-error' if @nudge_appointment.errors.include?(:eligibility_reason) %>">
      <%= f.label :eligibility_reason, class: 'form-label' do %>
        Under 50 eligibility
        <% if @nudge_appointment.errors.include?(:eligibility_reason) %>
          <span class="error-message" id="eligibility_error"><span class="visually-hidden">Error: </span><%= @nudge_appointment.errors[:eligibility_reason].to_sentence.capitalize %></span>
        <% end %>
        <span class="form-hint">As the customer is under 50, please select which circumstances apply</span>
      <% end %>
      <%= f.select :eligibility_reason,
            options_for_select(NudgeAppointment::ELIGIBILITY_OPTIONS.invert.to_a, @nudge_appointment.eligibility_reason),
            { include_blank: true},
            { aria: { describedby: 'eligibility_error' }, class: "t-eligibility-reason form-control #{'form-control-error' if @nudge_appointment.errors.include?(:eligibility_reason)}" }
      %>
    </div>
  </div>

  <div class="form-group <%= 'form-group-error' if @nudge_appointment.errors.include?(:accessibility_requirements) %>" data-radio-toggle>
    <fieldset class="inline" aria-required="true">
      <legend class="form-label-bold">Making your phone appointment easier to access</legend>
      <span class="form-hint">Do you have any access requirements you’d like us to be aware of?</span>
      <% if @nudge_appointment.errors.include?(:accessibility_requirements) %>
        <span class="error-message"><%= @nudge_appointment.errors[:accessibility_requirements].to_sentence.capitalize %></span>
      <% end %>

      <div class="multiple-choice" data-target="adjustments">
        <%= f.radio_button :accessibility_requirements, true, aria: { describedby: 'accessibility_requirements_error' }, class: 't-accessibility-requirements-yes' %>
        <%= f.label :accessibility_requirements, value: true, aria: { label: 'Yes, I have accessibility requirements' } do %>Yes<% end %>
      </div>

      <div class="multiple-choice">
        <%= f.radio_button :accessibility_requirements, false, aria: { describedby: 'accessibility_requirements_error' }, class: 't-accessibility-requirements-no' %>
        <%= f.label :accessibility_requirements, value: false, aria: { label: 'No, I do not have accessibility requirements' } do %>No<% end %>
      </div>
      <span class="form-hint">There are a few ways we can <a href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pension-wise/book-a-free-pension-wise-appointment/access-adjustments" target="_blank">make your Pension Wise appointment easier to access</a></span>
    </fieldset>
  </div>

  <div class="application-notice info-notice js-hidden form-group <%= 'form-group-error' if @nudge_appointment.errors.include?(:adjustments) %>" id="adjustments" data-character-limit>
    <%= f.label :adjustments do %>
      Tell us if any adjustments would help you in the box below. We might contact you before your appointment for more information
      <% if @nudge_appointment.errors.include?(:adjustments) %>
        <span class="error-message"><%= @nudge_appointment.errors[:adjustments].to_sentence.capitalize %></span>
      <% end %>
    <% end %>
    <%= f.text_area :adjustments,
      class: "t-adjustments form-control form-control-3-4 js-character-limit-input #{'form-control-error' if @nudge_appointment.errors.include?(:adjustments)}",
      rows: 5, maxlength: 160, data: { maxlength: 160 }
    %>
  </div>

  <div class="form-group <%= 'form-group-error' if @nudge_appointment.errors.include?(:notes) %>" data-character-limit>
    <%= f.label :notes, class: 'form-label-bold' do %>
      Additional information
      <% if @nudge_appointment.errors.include?(:notes) %>
        <span class="error-message"><%= @nudge_appointment.errors[:notes].to_sentence.capitalize %></span>
      <% end %>
      <span class="form-hint">Any additional information here that may be helpful for the appointment</span>
    <% end %>
    <%= f.text_area :notes, autocomplete: 'off', class: 't-additional-info form-control form-control-3-4 js-character-limit-input', rows: 5, maxlength: 160, data: { maxlength: 160 } %>
  </div>

  <div class="form-group t-gdpr-consent <%= 'form-group-error' if @nudge_appointment.errors.include?(:gdpr_consent) %>" id="nudge_appointment_gdpr_consent" tabindex="-1">
    <fieldset class="inline">
      <legend class="form-label-bold">Customer research consent</legend>
      <% if @nudge_appointment.errors.include?(:gdpr_consent) %>
        <span class="error-message" id="gdpr_error"><span class="visually-hidden">Error: </span><%= @nudge_appointment.errors[:gdpr_consent].to_sentence.capitalize %></span>
      <% end %>
      <span class="form-hint">
        Your feedback helps us improve the service. Is it OK if we share your
        contact details with our trusted research partners? With your consent,
        Pension Wise or our research partners, may contact you to ask if you
        would like to provide feedback and you can decide then if you want to
        take part.
      </span>

      <div class="multiple-choice">
        <%= f.radio_button :gdpr_consent, 'yes', class: 't-gdpr-consent-yes', aria: { required: true, describedby: 'gdpr_consent_error' } %>
        <%= f.label :gdpr_consent, value: 'yes', aria: { label: 'Yes, I consent to my contact details being shared for customer research' } do %>Yes<% end %>
      </div>

      <div class="multiple-choice">
        <%= f.radio_button :gdpr_consent, 'no', class: 't-gdpr-consent-no', aria: { required: true, describedby: 'gdpr_consent_error' } %>
        <%= f.label :gdpr_consent, value: 'no', aria: { label: 'No, I do not consent to my contact details being shared for customer research' } do %>No<% end %>
      </div>
    </fieldset>
  </div>

  <div role="note" aria-label="Information" class="application-notice info-notice">
    <p>Now we've taken your details are you happy for us to book your Pension Wise appointment?</p>
  </div>

  <div class="form-group">
    <%= f.submit 'Confirm appointment', class: 'button button--primary t-submit', data: { disable_with: 'Please wait...' } %>
  </div>

</div>

<div class="l-column-third">
  <h5 class="slot-picker-header">Your requested appointment</h5>
  <div class="slot-picker-confirmed-date">
    <p class="slot-picker-confirmed-date__text heavy"><b><%= l(@nudge_appointment.start_at, format: :govuk_date) %></b></p>
    <p class="slot-picker-confirmed-date__text"><%= l(@nudge_appointment.start_at, format: :govuk_time) %>, around 60 minutes</p>
  </div>

  <p><%= link_to('Change date/time', new_nudge_appointment_path) %></p>

  <h5 class="slot-picker-header slot-picker-header--need-help t-need-help-banner">Our booking line (0800 100 166) is currently closed due to essential maintenance</h5>
  <p>We'll reopen at 9am on Monday 2 March.</p>
</div>
