<nav class="journey-nav" role="navigation" aria-label="<%= journey_navigation.overview.label %>">
  <ol>
    <% journey_navigation.steps.each_with_index do |step, index| %>
      <%
         a_classes = ['t-journey-nav-step']

         step_number = index + 1

         li_classes = []
         li_classes << 'last-child' if step_number == journey_navigation.steps.count

         if step.current?
           a_classes << 't-journey-nav__current-step'
           li_classes << 'is-current'
         end
      %>
      <%= content_tag :li, class: li_classes do %>
        <%= link_to(step.url, class: a_classes) do %>
          <span class="journey-nav__number journey-nav__number--<%= step_number %>"></span>
          <%= step.label %>
          <% if step.current? %>
            <span class="visuallyhidden">(current)</span>
          <% end %>
        <% end %>

        <% if step.steps? %>
          <ul class="journey-nav__sub-nav">
            <% step.steps.each do |child_step| %>
              <li class="t-journey-subnav-step<%= child_step.current? ? ' is-current' : '' %>">
                <span class="bullet bullet--<%= child_step.slug %>"></span>
                <a href="<%= child_step.url %>">
                  <%= child_step.label %>
                  <% if child_step.current? %>
                    <span class="visuallyhidden">(current)</span>
                  <% end %>
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </ol>
</nav>
