<nav class="journey-nav" role="navigation" aria-label="6 steps you need to take">
  <ol>
    <% journey.each do |step| %>
      <%= content_tag :li, class: step.li_classes do %>
        <%= link_to(step.url, class: step.a_classes) do %>
          <span class="journey-nav__number journey-nav__number--<%= step.index %>"></span>
          <%= step.label %>
          <%= content_tag :span, '(current)', class: 'visuallyhidden' if step.current? %>
        <% end %>

        <%= step.sub_nav %>
      <% end %>
    <% end %>
  </ol>
</nav>
