<% has_error = local_assigns[:has_error] %>
<form action="<%= search_locations_path %>" method="post">
  <div class="form-group <%= 'form-group-error' if has_error %>">
    <label class="form-label-bold" for="location">
      Postcode
      <span class="form-hint">For example, 'SW1A 1AA'</span>
      <% if has_error %>
        <%= yield %>
      <% end %>
    </label>
    <input type="text" class="form-control<%= ' form-control-error' if has_error %>" name="postcode" id="location" value="<%= @postcode&.squish %>" required="true">
    <input type="submit" class="button button--primary" value="Search">
  </div>
</form>
