<% content_for :sidebar do %>
  <aside>
    <div class="sticky-sidebar__nav">
      <h5><%= t('.heading') %></h5>
      <ul>
        <% @summary.selected_steps.each do |step| %>
          <li>
            <%= link_to skip_to_step_path(step) do %>
              <%= t("pension_summaries.options.#{step}.title") %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <%= link_to t('.print_button'), print_summary_path, target: '_blank', class: 'button' %>
      <span class="visually-hidden"> - </span>
      <%= link_to t('.download_button'), download_summary_path, target: '_blank', class: 'button' %>
  </aside>
<% end %>
