<% content_for(:page_title, t('service.title', page_title: t('.title'))) %>

<%= @guide.content %>

<%= form_for @summary, url: explore_your_options_about_you_path, method: :post do |f| %>
  <%= hidden_field_tag :id, @summary.id %>

  <fieldset class="form-group about-your-gender">
    <legend class="form-label"><%= t('.gender.legend') %></legend>

    <% PensionSummary::ABOUT_YOUR_GENDER.each do |option| %>
      <div class="multiple-choice">
        <%= f.radio_button :gender, option, { class: "t-about-your-gender-#{option.dasherize} form-control" } %>
        <%= f.label :gender, value: option, class: 'block-label selection-button-radio' do %>
          <%= t(".gender.#{option}") %>
        <% end %>
      </div>
    <% end %>
  </fieldset>

  <fieldset class="form-group about-your-age">
    <legend class="form-label"><%= t('.age.legend') %></legend>

    <% PensionSummary::ABOUT_YOUR_AGE.each do |option| %>
      <div class="multiple-choice">
        <%= f.radio_button :age, option, { class: "t-about-your-age-#{option.dasherize} form-control" } %>
        <%= f.label :age, value: option, class: 'block-label selection-button-radio' do %>
          <%= t(".age.#{option}", default: option) %>
        <% end %>
      </div>
    <% end %>
  </fieldset>

  <%= f.submit t('.next_button'), class: :button %>
<% end %>
