<% content_for(:page_title, t('service.title', page_title: t('.title'))) %>
<% content_for(:canonical, "https://www.moneyhelper.org.uk/#{locale}/pensions-and-retirement/pension-wise/explore-your-pension-options") %>
<% content_for(:page_name, 'explore-your-options--about-you') %>
<% content_for(:step_name, 'Firstly – a bit about you') %>
<% content_for(:tool_step, '1') %>
<% content_for(:tool_name, 'Explore Your Options') %>

<div class="l-column-two-thirds">
  <%= @guide.content %>

  <%= form_for @summary, url: explore_your_options_about_you_path, method: :post do |f| %>
    <%= hidden_field_tag :id, @summary.id %>

    <% if @summary.errors.any? %>
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1" data-error-summary>
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
          <%= t('.errors.heading') %>
        </h2>

        <p>
          <%= t('.errors.description') %>
        </p>
      </div>
    <% end %>

    <fieldset class="form-group about-your-gender">
      <legend class="form-label"><%= t('.gender.legend') %></legend>

      <% PensionSummary::ABOUT_YOUR_GENDER.each do |option| %>
        <div class="multiple-choice">
          <%= f.radio_button :gender, option, { class: "t-about-your-gender-#{option.dasherize}" } %>
          <%= f.label :gender, value: option, class: 'block-label selection-button-radio' do %>
            <%= t(".gender.#{option}") %>
          <% end %>
        </div>
      <% end %>
    </fieldset>

    <fieldset class="form-group about-your-age">
      <legend class="form-label"><%= t('.age.legend') %></legend>

      <% PensionSummary::ABOUT_YOUR_AGE.each do |option| %>
        <div class="multiple-choice">
          <%= f.radio_button :age, option, { class: "t-about-your-age-#{option.dasherize}" } %>
          <%= f.label :age, value: option, class: 'block-label selection-button-radio' do %>
            <%= t(".age.#{option}", default: option) %>
          <% end %>
        </div>
      <% end %>
    </fieldset>

    <fieldset class="form-group country-of-residence">
      <legend class="form-label"><%= t('.country.legend') %></legend>

      <% PensionSummary::COUNTRIES.each do |option| %>
        <div class="multiple-choice">
          <%= f.radio_button :country, option, { class: "t-country-#{option.dasherize}" } %>
          <%= f.label :country, value: option, class: 'block-label selection-button-radio' do %>
            <%= t(".country.#{option}") %>
          <% end %>
        </div>
      <% end %>
    </fieldset>

    <%= t('.ipsos_statement.html') %>

    <div data-checkbox-toggle class="form-group <%= 'form-group-error' if @summary.errors.include?(:consent_given) %>">
      <div class="multiple-choice" data-target="consent-given">
        <%= f.check_box :consent_given, { class: "t-consent-given" } %>
        <%= f.label :consent_given, class: 'block-label selection-button-checkbox' do %>
          <%= t(".consent_given") %>
          <% if @summary.errors.include?(:consent_given) %>
            <span class="error-message"><%= @summary.errors[:consent_given].first %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="panel panel-border-narrow js-hidden" id="consent-given">
      <div class="form-group <%= 'form-group-error' if @summary.errors.include?(:name) %>">
        <%= f.label :name, class: 'form-label form-label-bold' do |builder| %>
          <%= builder.translation %>
          <% if @summary.errors.include?(:name) %>
            <span class="error-message"><%= @summary.errors[:name].first %></span>
          <% end %>
        <% end %>
        <%= f.text_field :name, class: "obfuscate t-name form-control #{'form-control-error' if @summary.errors.include?(:name)}" %>
      </div>

      <div class="form-group <%= 'form-group-error' if @summary.errors.include?(:email) %>">
        <%= f.label :email, class: 'form-label form-label-bold' do |builder| %>
          <%= builder.translation %>
          <% if @summary.errors.include?(:email) %>
            <span class="error-message"><%= @summary.errors[:email].first %></span>
          <% end %>
        <% end %>
        <%= f.text_field :email, class: "obfuscate t-email form-control #{'form-control-error' if @summary.errors.include?(:email)}" %>
      </div>
    </div>

    <%= t('.privacy_notice.html') %>

    <%= f.submit t('.next_button'), class: 'button button--primary' %>
  <% end %>
</div>
