<% content_for(:page_title, t('service.title', page_title: t('.title'))) %>

<span class="build-your-own-progress">
  <%= t('.pagination', current_page: @summary.current_step_number, total_pages: @summary.all_selected_steps.count) %>
</span>

<%= @guide.content %>

<%= form_for @summary, url: explore_your_options_improving_our_service_path, method: :post do |f| %>
  <%= hidden_field_tag :id, @summary.id %>

  <div class="form-group">
    <div class="multiple-choice">
      <%= f.check_box :consent_given, { class: "t-consent-given form-control" } %>
      <%= f.label :consent_given, class: 'block-label selection-button-checkbox' do %>
        <%= t(".consent_given") %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: "t-name form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'form-label' %>
    <%= f.text_field :email, class: "t-email form-control" %>
  </div>

  <fieldset class="form-group country-of-residence">
    <legend class="form-label"><%= t('.country.legend') %></legend>

    <% PensionSummary::COUNTRIES.each do |option| %>
      <div class="multiple-choice">
        <%= f.radio_button :country, option, { class: "t-country-#{option.dasherize} form-control" } %>
        <%= f.label :country, value: option, class: 'block-label selection-button-radio' do %>
          <%= t(".country.#{option}") %>
        <% end %>
      </div>
    <% end %>
  </fieldset>

  <%= t('.privacy_notice.html') %>

  <%= f.submit t('.next_button'), class: :button %>
<% end %>

<%= render 'sidebar' %>
