<% content_for(:page_title, t('service.title', page_title: t('.title'))) %>

<div class="l-column-two-thirds">
  <%= @guide.content %>

  <%= form_for @summary, url: explore_your_options_step_two_path, method: :post do |f| %>
    <%= hidden_field_tag :id, @summary.id %>

    <fieldset class="form-group">
      <legend class="visuallyhidden"><%= t('.secondary_steps.accessible_legend') %></legend>

      <% PensionSummary::SECONDARY_OPTIONS.each do |step| %>
        <div class="multiple-choice">
          <%= f.check_box step, { class: "t-options-#{step.dasherize}" }, 1 %>
          <%= f.label step, class: 'block-label selection-button-checkbox' do %>
            <%= t("pension_summaries.options.#{step}.title") %>
          <% end %>
        </div>
      <% end %>
    </fieldset>

    <h5><%= t('.compulsory_steps.introduction') %></h5>
    <ul>
      <% PensionSummary::COMPULSORY_OPTIONS.each do |step| %>
        <li><%= t("pension_summaries.options.#{step}.title") %></li>
      <% end %>
    </ul>

    <%= f.submit t('.next_button'), class: 'button button--primary' %>
  <% end %>
</div>
