<% content_for(:page_title, t('service.title', page_title: t('.title'))) %>
<% content_for(:canonical, "https://www.moneyhelper.org.uk/#{locale}/pensions-and-retirement/pension-wise/explore-your-pension-options") %>
<% content_for(:noindex, true) %>

<div class="l-column-two-thirds">
  <%= @guide.content %>

  <%= form_for @summary, url: explore_your_options_step_one_path, method: :post do |f| %>
    <%= hidden_field_tag :id, @summary.id %>

    <fieldset class="form-group build-your-own">
      <legend class="visuallyhidden"><%= t('.accessible_legend') %></legend>

      <% PensionSummary::PRIMARY_OPTIONS.each do |step| %>
        <div class="multiple-choice">
          <%= f.check_box step, { class: "t-options-#{step.dasherize}" }, 1 %>
          <%= f.label step, class: 'block-label selection-button-checkbox' do %>
            <strong><%= t("pension_summaries.options.#{step}.title") %></strong>
          <% end %>
        </div>

        <p class="form-hint"><%= t("pension_summaries.options.#{step}.hint") %></p>
      <% end %>
    </fieldset>

    <%= f.submit t('.next_button'), class: 'button button--primary' %>
  <% end %>
</div>
