<% content_for(:page_title, t('service.title', page_title: t('.title'))) %>

<div class="l-column-two-thirds">
  <div class="build-your-own-progress">
    <%= t('.pagination', current_page: @summary.current_step_number, total_pages: @summary.all_selected_steps.count) %>
  </div>

  <% if @summary.first_step? %>
    <div class="application-notice info-notice">
      <p><%= t('.first_step_introduction.html') %></p>
    </div>
  <% end %>

  <%= @guide.content %>

  <% if @summary.last_step? %>
    <% if @summary.pilot? %>
      <%= link_to t('.next_button'), explore_your_options_your_experience_path(id: @summary.id), class: 'button button-next' %>
    <% end %>
  <% else %>
    <%= link_to t('.next_button'), explore_your_options_summary_path(id: @summary.id, step: @summary.next_step), class: 'button button--primary button-next' %>

    <p>
      <%= link_to t('.book_a_free_appointment_link'), money_helper_url('pensions-and-retirement/taking-your-pension/pension-wise/book-a-free-pension-wise-appointment/how-to-book-a-phone-appointment.html', locale: params[:locale]), class: 'summary', target: '_parent' %>
    </p>
  <% end %>
</div>

<%= render 'sidebar' %>
