<% content_for(:page_title, t('service.title', page_title: t('.title'))) %>

<% if @summary.first_step? %>
  <div class="build-your-own-intro">
    <%= t('.first_step_introduction.html') %>
  </div>
<% end %>

<span class="build-your-own-progress">
  <%= t('.pagination', current_page: @summary.current_step_number, total_pages: @summary.all_selected_steps.count) %>
</span>

<%= @guide.content %>

<% if @summary.last_step? %>
  <% if @summary.pilot? %>
    <%= link_to t('.next_button'), explore_your_options_your_experience_path(id: @summary.id), class: 'button button-next' %>
  <% else %>
    <%= t('.privacy_notice.html') %>
  <% end %>
<% else %>
  <%= link_to t('.next_button'), explore_your_options_summary_path(id: @summary.id, step: @summary.next_step), class: 'button button-next' %>

  <p>
    <%= link_to t('.book_a_free_appointment_link'), guide_path('appointments'), class: 'summary' %>
  </p>
<% end %>

<%= render 'sidebar' %>
