<% content_for(:page_title, t('service.title', page_title: t('.title'))) %>

<div class="l-column-two-thirds">
  <span class="build-your-own-progress">
    <%= t('.pagination', current_page: @summary.current_step_number, total_pages: @summary.all_selected_steps.count) %>
  </span>

  <%= @guide.content %>

  <%= form_for @summary, url: explore_your_options_your_experience_path, method: :post do |f| %>
    <%= hidden_field_tag :id, @summary.id %>

    <fieldset class="form-group satisfaction">
      <legend class="form-label"><%= t('.satisfaction.legend') %></legend>

      <div class="multiple-choice">
        <%= f.radio_button :satisfaction, '5', { class: 't-satisfaction-5 form-control' } %>
        <%= f.label :satisfaction, value: '5', class: 'block-label selection-button-radio' do %>
          <%= t('.satisfaction.five') %>
        <% end %>
      </div>

      <div class="multiple-choice">
        <%= f.radio_button :satisfaction, '4', { class: 't-satisfaction-5 form-control' } %>
        <%= f.label :satisfaction, value: '4', class: 'block-label selection-button-radio' do %>
          <%= t('.satisfaction.four') %>
        <% end %>
      </div>

      <div class="multiple-choice">
        <%= f.radio_button :satisfaction, '3', { class: 't-satisfaction-5 form-control' } %>
        <%= f.label :satisfaction, value: '3', class: 'block-label selection-button-radio' do %>
          <%= t('.satisfaction.three') %>
        <% end %>
      </div>

      <div class="multiple-choice">
        <%= f.radio_button :satisfaction, '2', { class: 't-satisfaction-5 form-control' } %>
        <%= f.label :satisfaction, value: '2', class: 'block-label selection-button-radio' do %>
          <%= t('.satisfaction.two') %>
        <% end %>
      </div>

      <div class="multiple-choice">
        <%= f.radio_button :satisfaction, '1', { class: 't-satisfaction-5 form-control' } %>
        <%= f.label :satisfaction, value: '1', class: 'block-label selection-button-radio' do %>
          <%= t('.satisfaction.one') %>
        <% end %>
      </div>
    </fieldset>

    <div class="form-group">
      <%= f.label :comments, t('.comments'), class: 'form-label' %>
      <%= f.text_area :comments, rows: 5, style: 'width: 100%;', class: 't-comments form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :where_you_heard, t('.where_you_heard.label'), class: 'form-label' %>
      <%= f.select :where_you_heard, t('.where_you_heard.options'), { include_blank: true }, class: 't-referrer form-control', style: 'width: 100%;' %>
    </div>

    <p><%= t('.many_thanks') %></p>

    <%= f.submit t('.next_button'), class: :button %>
  <% end %>

  <%= render 'sidebar' %>
</div>
