<%
  error_message = local_assigns[:error_message]
  hint = local_assigns[:hint]
  labelled_by = "#{field}-a"
%>

<div class="form-group <%= 'error' unless error_message.blank? %>">
  <label class="form-label" for="<%= field %>">
    <%= label %>
    <%= content_tag :span, hint, class: 'form-hint' unless hint.blank? %>
  </label>
  <%= content_tag :span, error_message, class: 'error-message' unless error_message.blank? %>
  <%= content_tag :span, '£', id: labelled_by %>
  <%= text_field_tag field, value, 'aria-labelledby' => labelled_by, class: %w(form-control calculator__field) %>
</div>
