<script>
  dataLayer = [{
    'valid': <%= @calculator.valid? %>,
    'pot': <%= @calculator.pot.to_i %>,
    'income': <%= @calculator.income.to_i %>,
    'annual_pension': <%= @calculator.annual_pension.to_i %>
    <% if @result %> ,
      'pot_tax': <%= @result.pot_tax.to_i %>,
      'pot_received': <%= @result.pot_received.to_i %>
    <% end %>
  }];
</script>

<% if @result %>
  <p>
    Based on what you've told us, if you take your whole <%= format_currency(@calculator.pot) %>
    pension pot in one go, you could receive:

    <strong class="calculator__result__number t-pot-received"><%= format_currency(@result.pot_received) %></strong>

    after paying:

    <strong class="calculator__result__number t-pot-tax"><%= format_currency(@result.pot_tax) %> in tax</strong>
  </p>

  <h2>Things to note</h2>

  <ol>
    <li>What you receive includes your 25% tax-free sum</li>
    <li>To work out how much tax you have to pay, your pension monies are added to your other taxable income for the year</li>
    <li>How much tax you pay will depend on your individual circumstances</li>
  </ol>

  <div class="application-notice help-notice">
    <p>Pension payments are likely to attract emergency tax. Your provider may reimburse you
    automatically, otherwise you can claim back the extra tax yourself.</p>
  </div>
<% end %>
