<% content_for(:page_title, t('service.title', page_title: 'Taking your whole pot in one go')) %>

<a class="link-back" href="/take-whole-pot">Back to description</a>

<h1>Taking your whole pot in one go</h1>

<div class="calculator">
  <h2 id="estimate-how-much">Estimate how much you would get</h2>

  <% unless @calculator.valid? %>
    <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

      <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
        There was a problem with your details
      </h1>

      <ul class="error-summary-list">
        <% @calculator.errors.keys.each do |attribute| %>
          <li><a href="#<%= attribute %>"><%= @calculator.errors[attribute].first %></a></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <form action="/take-whole-pot/results#estimate-how-much" method="get">
    <div class="form-group <%= 'error' if @calculator.errors.has_key?(:pot) %>">
      <label class="form-label" for="pot">
        Pot value
        <span class="form-hint">All your pension pots combined</span>
      </label>
      <% if @calculator.errors.has_key?(:pot) %>
        <span class="error-message"><%= @calculator.errors[:pot].first %></span>
      <% end %>
      <span id="pot-a">£</span> <input aria-labelledby="pot-a" class="form-control calculator__field" type="text" id="pot" name="pot" value="<%= @pot %>">
    </div>

    <div class="form-group <%= 'error' if @calculator.errors.has_key?(:income) %>">
      <label class="form-label" for="income">
        Other annual income
        <span class="form-hint">Money from work, savings and benefits</span>
      </label>
      <% if @calculator.errors.has_key?(:income) %>
        <span class="error-message"><%= @calculator.errors[:income].first %></span>
      <% end %>
      <span id="income-a">£</span> <input aria-labelledby="income-a" class="form-control calculator__field" type="text" id="income" name="income" value="<%= @income %>">
    </div>

    <div class="form-group <%= 'error' if @calculator.errors.has_key?(:pension) %>">
      <label class="form-label" for="pension">
        State Pension
        <span class="form-hint">The most you can currently get is £115.95 per week</span>
      </label>
      <% if @calculator.errors.has_key?(:pension) %>
        <span class="error-message"><%= @calculator.errors[:pension].first %></span>
      <% end %>
      <span id="pension-a">£</span> <input aria-labelledby="pension-a" class="form-control calculator__field--small" type="text" id="pension" name="pension" value="<%= @pension %>">
      <select class="form-control calculator__field--frequency-select" name="pension_frequency">
        <option value="weekly" <%= 'selected' if @pension_frequency == 'weekly' %>>Weekly</option>
        <option value="annually" <%= 'selected' if @pension_frequency == 'annually' %>>Annually</option>
      </select>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Calculate" id="js-calculate">
    </div>
  </form>

  <%= render partial: 'results' %>
</div>

<a class="link-back" href="/take-whole-pot">Back to description</a>
