<% content_for(:page_title, t('service.title', page_title: 'Taking your whole pot in one go')) %>

<a class="link-back" href="/take-whole-pot">Back to description</a>

<h1>Taking your whole pot in one go</h1>

<div class="calculator">
  <h2 id="estimate-how-much">Estimate how much you would get leaving your pot untouched</h2>

  <% unless @calculator.valid? %>
    <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

      <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
        There was a problem with your details
      </h1>

      <ul class="error-summary-list">
        <% @calculator.errors.keys.each do |attribute| %>
          <li><a href="#<%= attribute %>"><%= @calculator.errors[attribute].first %></a></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <form action="/take-whole-pot/results#find-out-what-you-would-get-after-tax" method="get">
    <div class="form-group <%= 'error' if @calculator.errors.has_key?(:pot) %>">
      <label class="form-label" for="pot">
        Total pension pot value
      </label>
      <% if @calculator.errors.has_key?(:pot) %>
        <span class="error-message"><%= @calculator.errors[:pot].first %></span>
      <% end %>
      <span id="pot-a">£</span> <input aria-labelledby="pot-a" class="form-control calculator__field" type="text" id="pot" name="pot" value="<%= @pot %>">
    </div>

    <div class="form-group <%= 'error' if @calculator.errors.has_key?(:income) %>">
      <label class="form-label" for="income">
        Income for the year
        <span class="form-hint">Includes your salary, savings, benefits and State Pension payments</span>
      </label>
      <% if @calculator.errors.has_key?(:income) %>
        <span class="error-message"><%= @calculator.errors[:income].first %></span>
      <% end %>
      <span id="income-a">£</span> <input aria-labelledby="income-a" class="form-control calculator__field" type="text" id="income" name="income" value="<%= @income %>">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Calculate" id="js-calculate">
    </div>
  </form>

  <%= render partial: 'results' %>
</div>

<a class="link-back" href="/take-whole-pot">Back to description</a>
