<div id="js-estimate">
  <p><%= t('.summary.message.html', years: pluralize(estimate.size, 'years')) %></p>

  <table>
    <caption class="visuallyhidden">Estimated pot growth</caption>
    <thead>
    <tr>
      <th><%= t('.summary.table.headings.years_left') %></th>
      <th><%= t('.summary.table.headings.amount') %></th>
    </tr>
    </thead>
    <tbody>
      <% estimate.each_with_index do |value, year| %>
        <%= t('.summary.table.row.html', years_left: year + 1, amount: number_to_currency(value)) %>
      <% end %>
    </tbody>
  </table>
</div>

<p>
  <label for="slider"><%= t('.slider_label') %></label>
  <%= render 'components/slider', {
      id: 'slider',
      target: '#contribution',
      option: 'leave-pot-untouched',
      text_before: '£',
      initial_value: contribution.to_f.ceil,
      min: 0,
      max: leave_pot_untouched_slider_max(contribution.to_i),
      step: 5,
      text_label: 'monthly contribution',
      slider_label: 'up and down arrow keys will change the monthly contribution'
  } %>
</p>

<ul class="t-calculator-notes">
  <%= t('.notes.html', growth_rate: number_to_percentage(LeavePotUntouchedCalculator::INTEREST_RATE * 100)) %>
</ul>
