<p>Your pot could be worth this much over the next <%= content_tag(:span, pluralize(estimate.size, 'years'), class: 't-calculator-years') %>, with a <strong><%= number_to_currency(contribution) %></strong> monthly contribution:</p>

<table>
  <caption class="visuallyhidden">Estimated pot growth</caption>
  <thead>
  <tr>
    <th>Years left untouched</th>
    <th>Amount in your pot</th>
  </tr>
  </thead>
  <tbody>
  <% estimate.each_with_index do |value, year| %>
    <tr>
      <td><%= year + 1 %></td>
      <td class="t-calculator-future-pot-size"><%= number_to_currency(value) %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<h3 class="heading-medium">
  What if you contributed more each month?
</h3>

<form>
  <fieldset class="inline">

    <legend class="visuallyhidden">What if you contributed more each month?</legend>

    <% if experiment == 'exp-radios' %>
      <p>Try with another:</p>

      <label class="block-label" for="radio-inline-0" data-adjuster="contribution|0">
        <input id="radio-inline-0" type="radio" name="radio-inline-group" value="0" checked>
        £0
      </label>
      <label class="block-label" for="radio-inline-1" data-adjuster="contribution|10">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="10">
        £10
      </label>
      <label class="block-label" for="radio-inline-2" data-adjuster="contribution|50">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="50">
        £50
      </label>
      <label class="block-label" for="radio-inline-3" data-adjuster="contribution|100">
        <input id="radio-inline-3" type="radio" name="radio-inline-group" value="100">
        £100
      </label>
    <% elsif experiment == 'exp-buttons' %>
      <button class="block-label" for="radio-inline-1" data-adjuster="contribution|10">
        + Try with another <%= number_to_currency(10) %>
      </button>
      <button class="block-label" for="radio-inline-2" data-adjuster="contribution|-10">
        – Try with <%= number_to_currency(10) %> less
      </button>
    <% end %>

  </fieldset>
</form>


<ul class="t-calculator-notes">
  <li>
    This is an estimate based on your pot growing at a rate of about
    <%= number_to_percentage(LeavePotUntouchedCalculator::INTEREST_RATE * 100) %>
    per year — this may vary.
  </li>
  <li>
    The amount in your pot will be affected by inflation and any fees your provider charges.
  </li>
</ul>
