<%
  form = local_assigns[:form]
  errors = form&.errors || {}
%>

<h2 id="calculator"><%= t('.heading') %></h2>

<%= render 'calculators/error_summary',
  form: Calculators::LeavePotUntouchedForm,
  errors: errors if form&.invalid? %>

<form action="<%= "/#{locale}/leave-pot-untouched/estimate#form" %>" method="get" class="js-calculator-form" data-loading-message="<%= t('calculators.loading_message') %>">
  <%= render 'calculators/form_input_currency',
             field: :pot,
             value: form&.pot,
             label: Calculators::LeavePotUntouchedForm.human_attribute_name(:pot),
             error_messages: errors[:pot] %>

  <%= render 'calculators/form_input_currency',
             field: :contribution,
             value: form&.contribution,
             label: Calculators::LeavePotUntouchedForm.human_attribute_name(:contribution),
             error_messages: errors[:contribution] %>

  <%= render 'calculators/form_input_submit' %>
</form>

<% if form %>
  <script>
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      'event': 'CalculatorEstimate',
      'valid': <%= form.valid? %>
      <% if form.valid? %>
      , 'pot': <%= form.pot.to_i %>
      , 'contribution': <%= form.contribution.to_i %>
      <% end %>
    });
  </script>
<% end %>
