<p>
  Based on what you’ve told us, if you take your <%= format_currency(@pot) %>
  pension pot as an annuity, you could receive:

  <strong class="calculator__result__number"><%= number_to_currency(@tax_free_lump_sum, precision: 0) %> tax-free</strong>

  and a:

  <strong class="calculator__result__number"><%= number_to_currency(@annuity, precision: 0) %> guaranteed annual taxable income, for the rest of your life</strong>
</p>

<br>

<div class="form-group">
  <fieldset>
    <legend class="form-label-bold">Annuity type</legend>

    <label for="annuity-type-single" class="block-label">
      <input id="annuity-type-single" class="calculator__field--radio" type="radio" name="annuity_type" value="single" <%= 'checked="checked"' if @annuity_type == 'single' %>>
      Single annuity - only you get payments
    </label>
    <label for="annuity-type-joint" class="block-label">
      <input id="annuity-type-joint" class="calculator__field--radio" type="radio" name="annuity_type" value="joint" <%= 'checked="checked"' if @annuity_type == 'joint' %>>
      Joint annuity - your partner will get money after you die
    </label>
  </fieldset>
</div>

<div class="form-group">
  <input type="submit" class="button" value="Recalculate" id="js-recalculate">
</div>
