<% content_for(:page_title, t('service.title', page_title: 'Guaranteed income')) %>

<a class="link-back" href="/guaranteed-income">Back to description</a>

<h1>Getting a guaranteed income (annuity)</h1>

<div class="calculator">
  <h2 id="annuity-estimate">Estimate how much you would get from an annuity</h2>

  <form action="/guaranteed-income/results#annuity-estimate" method="get">
    <div class="form-group">
      <label class="form-label" for="pot">
        Pot value
        <span class="form-hint">All your pension pots combined</span>
      </label>
      <span id="pot-a">£</span> <input aria-labelledby="pot-a" class="form-control calculator__field" type="text" id="pot" name="pot" value="<%= @pot %>">
    </div>

    <div class="form-group">
      <label class="form-label" for="age">
        Your age
      </label>
      <span id="age-a"></span> <input aria-labelledby="age-a" class="form-control calculator__field" type="text" id="age" name="age" value="<%= @age %>">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Calculate" id="js-calculate">
    </div>

    <%= render partial: 'results' %>

    <br>

    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">Annuity type</legend>

        <label for="annuity-type-single" class="block-label">
          <input id="annuity-type-single" class="calculator__field--radio" type="radio" name="annuity_type" value="single" <%= 'checked="checked"' if @annuity_type == 'single' %>>
          Single annuity - only you get payments
        </label>
        <label for="annuity-type-joint" class="block-label">
          <input id="annuity-type-joint" class="calculator__field--radio" type="radio" name="annuity_type" value="joint" <%= 'checked="checked"' if @annuity_type == 'joint' %>>
          Joint annuity - your partner will get money after you die
        </label>
      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Recalculate" id="js-recalculate">
    </div>

  </form>
</div>

<a class="link-back" href="/guaranteed-income">Back to description</a>
