<p>
  Based on what you’ve told us, if you take a <%= format_currency(@calculator.chunk) %> cash chunk
  from your <%= format_currency(@calculator.pot) %> pension pot, you could pay:

  <strong class="calculator__result__number"><%= format_currency(@calculator.pot_tax) %> in tax</strong>

  and get:

  <strong class="calculator__result__number"><%= format_currency(@calculator.pot_received) %></strong>

  leaving:

  <strong class="calculator__result__number"><%= format_currency(@calculator.pot_remaining) %> in your pot</strong>
</p>

<h2>Things to note</h2>

<ol>
  <li>You take smaller sums of cash from your pot until it runs out - you decide how much to take and when to take it</li>
  <li>Each time you take a chunk out, 25% is tax free and the other 75% is taxable</li>
  <li>Taking a large chunk of cash in one year could bump you into a higher tax rate for that year</li>
  <li>This is an estimate - how much tax you pay depends on your individual circumstances</li>
</ol>

<div class="application-notice help-notice">
  <p>You may pay emergency tax when you take cash from your pot. If your provider doesn’t reimburse you automatically, you can claim it back.</p>
</div>

<h2>Your next steps</h2>

<p>Here are some next steps if you’re interested in taking cash in chunks:</p>

<ul>
  <li>ask your current provider if they offer the option and what they charge in fees - if they don’t offer it, you can transfer your pot but you might be charged a fee</li>
  <li>check if your pot has any special features that could mean you get a better deal, eg a guaranteed annuity rate</li>
  <li>make sure you know <a href="/tax">how much tax</a> you’ll pay on any money you’re planning to take out</li>
</ul>
