<%
  form = local_assigns[:form]
  errors = form&.errors || {}
%>

<h2 id="calculator" class="calculator-heading"><%= t('.heading') %></h2>

<%= render 'calculators/error_summary',
  form: Calculators::GuaranteedIncomeForm,
  errors: errors if form&.invalid? %>

<form action="<%= "/#{locale}/guaranteed-income/estimate#form" %>" method="get" class="js-calculator-form" data-loading-message="<%= t('calculators.loading_message') %>">
  <%= render 'calculators/form_input_currency',
             field: :pot,
             value: form&.pot,
             label: Calculators::GuaranteedIncomeForm.human_attribute_name(:pot),
             error_messages: errors[:pot] %>

  <%= render 'calculators/form_input_number',
             field: :age,
             css_classes: 'js-scroll-target',
             value: form&.age,
             label: Calculators::GuaranteedIncomeForm.human_attribute_name(:age),
             error_messages: errors[:age] %>

  <%= render 'calculators/form_input_submit' %>
</form>

<% if form %>
  <script>
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      'event': 'CalculatorEstimate',
      'valid': <%= form.valid? %>
      <% if form.valid? %>
      , 'pot': <%= form.pot.to_i %>
      , 'age': <%= form.age.to_i %>
      , 'pot_payout': <%= form.estimate[:income].to_i %>
      <% end %>
    });
  </script>
<% end %>
