<% content_for(:page_title, t('styleguide.title', page_title: 'Components')) %>

<h1>Component Library</h1>

<h2>Highlighted Info</h2>
<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <%= render 'styleguide/components/highlighted_info' %>
  </div>
</div>

<h2>Campaign Image</h2>
<%= render 'components/campaign_image' %>

<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <h2>Pager</h2>
    <%= render 'styleguide/components/pager' %>
  </div>
</div>

<h2>Link promo</h2>
<%= render 'styleguide/components/link_promo' %>

<h2>Breadcumbs</h2>
<%= render 'styleguide/components/breadcrumbs' %>

<h2>Logo link</h2>
<%= render 'components/logo_link' %>

<h2>Slider</h2>
<%= render 'styleguide/components/slider' %>

<h2>Dropdown Navigation</h2>
<%= render 'components/nav' %>
