<% content_for(:page_name, 'Take Cash In Chunks Calculator Estimate') %>
<% content_for(:tool_step, '2') %>

<div id="js-estimate">
  <p>
    <%= t('.summary.html', chunk: number_to_currency(estimate.chunk),
                           pot_value: number_to_currency(estimate.pot),
                           chunk_remaining: number_to_currency(estimate.chunk_remaining),
                           chunk_tax: number_to_currency(estimate.chunk_tax),
                           pot_remaining: number_to_currency(estimate.pot_remaining)) %>
  </p>
</div>

<p>
  <label for="slider"><%= t('.slider_label') %></label>
  <%= render 'components/slider', {
      id: 'slider',
      target: '#chunk',
      option: 'take-cash',
      text_before: '£',
      initial_value: estimate.chunk.to_f.ceil,
      min: 50,
      max: estimate.pot.to_i - 1,
      step: 5,
      text_label: 'cash chunk',
      slider_label: 'up and down arrow keys will change the cash chunk'
  } %>
</p>

<ul>
  <%= t('.notes.html') %>
</ul>

<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'CalculatorEstimate'
    , 'tax_paid': <%= estimate.chunk_tax.to_i %>
  });
</script>
