<%
   form = local_assigns[:form]
   errors = form&.errors
%>

<h2 id="calculator">Estimate how much you could get</h2>

<%= render 'calculators/error_summary', messages: errors&.messages if form&.invalid? %>

<form action="/take-cash-in-chunks/estimate#form" method="get">
  <%= render 'calculators/form_input_currency',
             field: :income,
             value: form&.income,
             label: 'What’s your yearly income?',
             hint: 'Include money you get from work, benefits, savings and State Pension payments',
             error_messages: errors.try(:get, :income) %>

  <%= render 'calculators/form_input_currency',
             field: :pot,
             value: form&.pot,
             label: 'How much is in your pot?',
             error_messages: errors&.get(:pot) %>

  <%= render 'calculators/form_input_currency',
             field: :chunk,
             value: form&.chunk,
             label: 'How much do you want to take as your first cash chunk?',
             error_messages: errors&.get(:chunk) %>

  <%= render 'calculators/form_input_submit' %>
</form>

<% if form %>
  <script>
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      'event': 'CalculatorEstimate'
      , 'valid': <%= form.valid? %>
      <% if form.valid? %>
      , 'pot': <%= form.pot.to_i %>
      , 'income': <%= form.income.to_i %>
      , 'pot_payout': <%= form.chunk.to_i %>
      <% end %>
    });
  </script>
<% end %>
