<% content_for(:page_title, t('service.homepage.title')) %>

<div class="l-home-header">
  <%= render 'components/header' %>
</div>

<div class="l-text">
  <p class="lede">The Pension Guidance Service is a free government service which
    helps you understand what you can do with your pension pot when you retire.</p>

  <h2>Pensions are changing</h2>

  <p>From April 2015 you'll have more freedom over how you take money from your pension pot.</p>

  <p>These changes affect you if you're <strong>55 or over</strong> and have a pension
    based on how much has been paid into your pot (a <strong>defined
    contribution pension</strong>).</p>
</div>

<hr/>

<h2>Work out your options</h2>
<div class="l-grid-row">
  <div class="l-column-half">
    <h3>
      <a href="<%= article_path('6-things-you-need-to-know-about-your-pension-pot') %>">
        6 things you need to know about your pension
      </a>
    </h3>

    <p>Follow these steps to help you understand the options for your pension pot.</p>
  </div>
</div>

<hr/>

<h2>Read our guides</h2>
<ul class="unstyled-list links t-article-links">
  <li class="unstyled-list__item">
    <a href="<%= article_path('know-your-pension-type') %>">
      Know your pension type
    </a>
  </li>
  <li class="unstyled-list__item">
    <a href="<%= article_path('check-the-value-of-your-pension-pot') %>">
      Check the value of your pension pot
    </a>
  </li>
  <li class="unstyled-list__item">
    <a href="<%= article_path('tax-you-pay-on-your-pension') %>">
      Tax you pay on your pension
    </a>
  </li>
  <li class="unstyled-list__item">
    <a href="<%= article_path('how-to-shop-around-for-the-best-deal') %>">
      How to shop around for the best deal
    </a>
  </li>
  <li class="unstyled-list__item">
    <a href="<%= article_path('how-long-your-money-needs-to-last') %>">
      Plan how long your money needs to last
    </a>
  </li>
</ul>
