<% content_for(:page_title, t('.title')) %>
<% content_for(:meta_description, t('.description')) %>

<div class="home-intro l-page-container">
  <p class="home-intro__text">
    <%= t('.intro.html', appointment_url: guide_path('appointments', icn: 'book-appointment', ici: 'top-homepage')) %>
  </p>
</div>

<div class="l-grid-row l-home-row l-home-row--accent <%= banner_image %>">
  <div class="l-page-container l-home-row-accent__content">
    <div class="l-home-row-accent__column">
      <h1 class="l-home-single-column-heading"><%= t('.heading') %></h1>
      <p><%= t('.sub_heading') %></p>
    </div>

    <div class="quick-links">
      <h2 class="quick-links__header"><%= t('.quick_links.money_helper') %></h2>
    </div>
  </div>
</div>

<div class="l-grid-row l-home-row l-home-row-options l-home-row-options--alt">
  <div class="l-page-container">
    <div class="l-column-third">
      <h2 class="l-home-single-column-subheading t-who"><%= t('.who.title') %></h2>

      <p><%= t('.who.subtitle') %></p>

      <ul>
        <% t('.who.points').each do |point| %>
          <li><%= point %></li>
        <% end %>
      </ul>
    </div>
    <div class="l-column-third l-home-central-column">
      <h2 class="l-home-single-column-subheading t-what"><%= t('.what.title') %></h2>

      <p><%= t('.what.subtitle') %></p>

      <ul>
        <% t('.what.points').each do |point| %>
          <li><%= point %></li>
        <% end %>
      </ul>
    </div>
    <div class="l-column-third">
      <h2 class="l-home-single-column-subheading t-how"><%= t('.how.title') %></h2>

      <p><%= t('.how.subtitle') %></p>

      <ul>
        <% t('.how.points').each do |point| %>
          <li><%= point %></li>
        <% end %>
      </ul>

      <%= link_to t('.how.book_appointment_button'), guide_path('appointments'), class: 'button t-book' %>
    </div>
  </div>
</div>

<div class="l-grid-row l-home-row l-home-row-options">
  <div class="l-page-container">
    <div class="l-column-half">
      <h2 class="l-home-single-column-subheading"><%= t('.your_pension_type.title') %></h2>

      <p><%= t('.your_pension_type.subtitle') %></p>

      <ul>
        <% t('.your_pension_type.points').each do |point| %>
          <li><%= point %></li>
        <% end %>
      </ul>

      <%= link_to t('.your_pension_type.link'), guide_path('pension-type-tool') %>
    </div>
    <div class="l-column-half l-home-right-column">
      <h2 class="l-home-single-column-subheading"><%= t('.where_to_start.title') %></h2>

      <p><%= t('.where_to_start.content.html') %></p>

    </div>
  </div>
</div>
