<% content_for :head do %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag 'pensions-guidance', media: 'screen' %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag 'pensions-guidance-ie6', media: 'screen' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'pensions-guidance-ie7', media: 'screen' %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag 'pensions-guidance-ie8', media: 'screen' %><![endif]-->

  <%= stylesheet_link_tag 'styleguide', media: 'screen' %>
<% end %>

<% content_for :header_class, 'with-proposition' %>

<% content_for :proposition_header do %>
  <div class="header-proposition">
    <div class="content">
      <a href="/styleguide" id="proposition-name">Style guide</a>
    </div>
  </div>
<% end %>

<% content_for :content do %>
  <div class="l-page-container">
    <%= render 'styleguide/components/breadcrumbs' %>

    <main role="main" id="content" tabindex="-1">
      <div class="l-grid-row l-grid-row--main">
        <div class="l-column-two-thirds">
          <%= yield %>
        </div>
        <div class="l-column-third l-column-third--sidebar">
          <div class="sidebar-hr"></div>
          <%= render 'styleguide/components/link_promo' %>
          <%= render 'styleguide/components/link_promo' %>
        </div>
      </div>
      <%= yield :layout_examples %>
    </main>
  </div>
<% end %>

<%= render template: 'layouts/govuk_template' %>
