<div class="l-grid-row">
  <div class="l-column-full">
    <h1>Book a telephone appointment</h1>
  </div>
</div>

<div class="l-grid-row">
  <div class="l-column-two-thirds">
    <div class="slot-picker" data-slot-picker data-date="2017-01-05">
      <div class="js-slot-picker-calendar-container">
        <h2 class="slot-picker__month js-slot-picker-month"><%= @month %></h2>
        <button class="slot-picker__next-month">Next Month</button>
        <ul aria-hidden="true" class="slot-picker-days">
          <li class="slot-picker-days__day">Mon</li>
          <li class="slot-picker-days__day">Tue</li>
          <li class="slot-picker-days__day">Wed</li>
          <li class="slot-picker-days__day">Thu</li>
          <li class="slot-picker-days__day">Fri</li>
          <li class="slot-picker-days__day">Sat</li>
          <li class="slot-picker-days__day">Sun</li>
        </ul>
        <ul class="slot-picker-calendar js-slot-picker-calendar">
          <% if @day_of_the_week > 1 %>
            <li class="slot-picker-calendar__day" aria-hidden="true" style="flex-basis: <%= (100.0/7.0) * (@day_of_the_week - 1) %>%"></li>
          <% end %>
          <% @days.each do |day| %>
            <li class="slot-picker-calendar__day">
              <<%= @available_days.include?(day) ? "a href=\"/book-telephone-appointment?date=#{day.strftime('%Y-%m-%d')}\"".html_safe : 'span' %> class="slot-picker-calendar__action <% unless @available_days.include?(day) %>slot-picker-calendar__action--busy<% end %> <%= day == @selected_date ? 'slot-picker-calendar__action--selected' : '' %>">
                <span class="visually-hidden"><%= day.strftime('%A, %B %-d %Y') %> <%= @available_days.include?(day) ? '' : '(unavailable)' %></span>
                <span aria-hidden="true"><%= day.day %></span>
              </<% if @available_days.include?(day) %>a<% else %>span<% end %>>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="l-column-third">
    &nbsp;
  </div>
</div>

<script type="text/html" id="slot-picker-calendar-faux-day-template">
    <li class="slot-picker-calendar__day" aria-hidden="true"></li>
</script>

<script type="text/html" id="slot-picker-calendar-day-template">
  <li class="slot-picker-calendar__day">
    <button class="slot-picker-calendar__action">
      <span class="visually-hidden">{day}</span>
      <span aria-hidden="true">{day_number}</span>
    </button>
  </li>
</script>

<script>
window.availability = {
  '2017-01-06': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-07': ['10:00', '16:00'],
  '2017-01-09': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-10': ['10:00', '12:00', '16:00'],
  '2017-01-11': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-12': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-13': ['10:00', '14:00', '16:00'],
  '2017-01-14': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-16': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-17': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-18': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-19': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-20': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-21': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-23': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-24': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-25': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-26': ['10:00', '12:00', '14:00', '16:00'],
  '2017-01-27': ['10:00', '12:00', '14:00', '16:00'],
  '2017-02-15': ['10:00', '12:00', '14:00', '16:00']
};
</script>
