<% content_for(:page_title, t('service.title', page_title: 'Your details')) %>
<% content_for(:page_name, 'telephone-appointments--your details') %>
<% content_for(:step_name, 'Your details') %>
<% content_for(:tool_step, '2') %>
<% content_for(:tool_name, 'Book a free pension wise appointment') %>

<div class="l-column-two-thirds">
  <%= f.hidden_field :start_at, id: 'hidden_telephone_appointment_start_at_step_3' %>
  <%= f.hidden_field :schedule_type, id: 'hidden_telephone_appointment_schedule_type_step_3' %>
  <%= f.hidden_field :nudged, id: 'hidden_telephone_appointment_nudged_step_3' %>
  <%= f.hidden_field :embedded, id: 'hidden_telephone_appointment_embedded_step_3' %>

  <h2 class="slot-picker-header">Your details</h2>

  <div class="form-group <%= 'form-group-error' if @telephone_appointment.errors.include?(:first_name) %>">
    <%= f.label :first_name, class: 'form-label-bold' %>
    <% if @telephone_appointment.errors.include?(:first_name) %>
      <span class="error-message" id="first_name_error"><span class="visually-hidden">Error: </span><%= @telephone_appointment.errors[:first_name].to_sentence.capitalize %></span>
    <% end %>
    <%= f.text_field :first_name, aria: { required: true, describedby: 'first_name_error' }, class: "t-first-name form-control #{'form-control-error' if @telephone_appointment.errors.include?(:first_name)}" %>
  </div>

  <div class="form-group <%= 'form-group-error' if @telephone_appointment.errors.include?(:last_name) %>">
    <%= f.label :last_name, class: 'form-label-bold' %>
    <% if @telephone_appointment.errors.include?(:last_name) %>
      <span class="error-message" id="last_name_error"><span class="visually-hidden">Error: </span><%= @telephone_appointment.errors[:last_name].to_sentence.capitalize %></span>
    <% end %>
    <%= f.text_field :last_name, aria: { required: true, describedby: 'last_name_error' }, class: "t-last-name form-control #{'form-control-error' if @telephone_appointment.errors.include?(:last_name)}" %>
  </div>

  <div class="form-group <%= 'form-group-error' if @telephone_appointment.errors.include?(:email) %>">
    <%= f.label :email, class: 'form-label-bold' do %>
      Email
      <span class="form-hint">We’ll send an email confirming your appointment date</span>
    <% end %>

    <% if @telephone_appointment.errors.include?(:email) %>
      <span class="error-message" id="email_error"><span class="visually-hidden">Error: </span><%= @telephone_appointment.errors[:email].to_sentence.capitalize %></span>
    <% end %>

    <div class="email-outer">
      <%= f.email_field :email, aria: { required: true, describedby: 'email_error' }, class: "t-email form-control #{'form-control-error' if @telephone_appointment.errors.include?(:email)}" %>
    </div>
  </div>

  <% if @telephone_appointment.due_diligence? %>
  <div class="form-group <%= 'form-group-error' if @telephone_appointment.errors.include?(:country_of_residence) %>">
    <%= f.label :country_of_residence, class: 'form-label-bold' do %>
      Country of residence
    <% end %>

    <% if @telephone_appointment.errors.include?(:country_of_residence) %>
      <span class="error-message" id="country_of_residence_error"><span class="visually-hidden">Error: </span><%= @telephone_appointment.errors[:country_of_residence].to_sentence.capitalize %></span>
    <% end %>

    <%= f.country_select :country_of_residence,
      { priority_countries: ['GB'] },
      { aria: { required: true, describedby: 'country_of_residence_error' },
        class: "t-country-of-residence form-control #{'form-control-error' if @telephone_appointment.errors.include?(:country_of_residence)}" }
    %>
  </div>
  <% end %>

  <div class="form-group <%= 'form-group-error' if @telephone_appointment.errors.include?(:phone) %>">
    <%= f.label :phone, class: 'form-label-bold' do %>
      Phone number
      <span class="form-hint">The number you’d like us to call you on. We’ll send an SMS appointment confirmation and reminder if a mobile number is provided. For non-UK numbers include the country dialling code</span>
    <% end %>

    <% if @telephone_appointment.errors.include?(:phone) %>
      <span class="error-message" id="phone_error"><span class="visually-hidden">Error: </span><%= @telephone_appointment.errors[:phone].to_sentence.capitalize %></span>
    <% end %>

    <%= f.text_field :phone, aria: { required: true, describedby: 'phone_error' }, class: "t-phone form-control #{'form-control-error' if @telephone_appointment.errors.include?(:phone)}" %>
  </div>

  <div class="form-group <%= 'form-group-error' if @telephone_appointment.errors.include?(:memorable_word) %>">
    <%= f.label :memorable_word, class: 'form-label-bold' do %>
      Your memorable word
      <span class="form-hint">Our pension specialist will repeat this word when they call so you know it’s us. Avoid using the same word from a different account or service</span>
    <% end %>

    <% if @telephone_appointment.errors.include?(:memorable_word) %>
      <span class="error-message" id="memorable_word_error"><span class="visually-hidden">Error: </span><%= @telephone_appointment.errors[:memorable_word].to_sentence.capitalize %></span>
    <% end %>
    <%= f.text_field :memorable_word, aria: { required: true, describedby: 'memorable_word_error' }, class: "t-memorable-word form-control #{'form-control-error' if @telephone_appointment.errors.include?(:memorable_word)}" %>
  </div>

  <div class="form-group <%= 'form-group-error' if @telephone_appointment.errors.include?(:date_of_birth) %>">
    <fieldset>
      <legend>
        <span class="form-label-bold">
          Date of birth
        </span>
        <% unless @telephone_appointment.due_diligence? %>
        <span class="form-hint t-dob-hint" id="dob-hint">You must be aged 50 or over to book an appointment, e.g. 31 3 1950</span>
        <% end %>
      </legend>
      <div class="form-date" id="telephone_appointment_date_of_birth" tabindex="-1">
        <div class="form-group form-group-day">
          <label aria-label="Date of birth, day e.g. 25" class="form-label" for="<%= f.object_name %>_date_of_birth_day">
            <span class="visually-hidden">Date of birth, day e.g. 25</span>
            <span aria-hidden="true">Day</span>
          </label>
          <%=
            f.number_field(
              'date_of_birth_day',
              id: "#{f.object_name}_date_of_birth_day",
              use_label: false,
              value: f.object.date_of_birth.try(:day),
              placeholder: 'DD',
              class: "f-dob__input form-control js-dob-day t-date-of-birth-day #{'form-control-error' if @telephone_appointment.errors.include?(:date_of_birth)}",
              pattern: '[0-9]*',
              min: 1,
              max: 31,
              aria: { required: true, describedby: 'date_of_birth_error' }
            )
          %>
        </div>
        <div class="form-group form-group-month">
          <label aria-label="Date of birth, month e.g. 12" class="form-label" for="<%= f.object_name %>_date_of_birth_month">
            <span class="visually-hidden">Date of birth, month e.g. 12</span>
            <span aria-hidden="true">Month</span>
          </label>
          <%=
            f.number_field(
              'date_of_birth_month',
              id: "#{f.object_name}_date_of_birth_month",
              use_label: false,
              value: f.object.date_of_birth.try(:month),
              placeholder: 'MM',
              class: "form-dob__input form-control js-dob-month t-date-of-birth-month #{'form-control-error' if @telephone_appointment.errors.include?(:date_of_birth)}",
              pattern: '[0-9]*',
              min: 1,
              max: 12,
              aria: { required: true, describedby: 'date_of_birth_error' }
            )
          %>
        </div>
        <div class="form-group form-group-year">
          <label aria-label="Date of birth, year e.g. 1950" class="form-label" for="<%= f.object_name %>_date_of_birth_year">
            <span class="visually-hidden">Date of birth, year e.g. 1950</span>
            <span aria-hidden="true">Year</span>
          </label>
          <%=
            f.number_field(
              'date_of_birth_year',
              id: "#{f.object_name}_date_of_birth_year",
              use_label: false,
              value: f.object.date_of_birth.try(:year),
              placeholder: 'YYYY',
              class: "form-dob__input form-control form-dob__input--year js-dob-year t-date-of-birth-year #{'form-control-error' if @telephone_appointment.errors.include?(:date_of_birth)}",
              pattern: '[0-9]*',
              min: 100.years.ago.year,
              max: Date.today.year,
              aria: { required: true, describedby: 'date_of_birth_error' }
            )
          %>
        </div>
      </div>
      <% if @telephone_appointment.errors.include?(:date_of_birth) %>
        <span class="error-message" id="date_of_birth_error"><span class="visually-hidden">Error: </span><%= @telephone_appointment.errors[:date_of_birth].to_sentence.capitalize %></span>
      <% end %>
    </fieldset>
  </div>

  <% if @telephone_appointment.due_diligence? %>
    <%= f.hidden_field :dc_pot_confirmed, value: 'not-sure', class: 't-hidden-dc-pot-confirmed' %>
  <% else %>
  <div class="form-group t-dc-pot-confirmed <%= 'form-group-error' if @telephone_appointment.errors.include?(:dc_pot_confirmed) %>" id="telephone_appointment_dc_pot_confirmed" tabindex="-1">
    <fieldset class="inline" aria-required="true">
      <legend class="form-label-bold">Do you have a defined contribution pension?</legend>
      <span class="form-hint">Pension Wise explains the options for taking a defined contribution pension.</span>
      <% if @telephone_appointment.errors.include?(:dc_pot_confirmed) %>
        <span class="error-message" id="dc_pot_confirmed_error"><span class="visually-hidden">Error: </span><%= @telephone_appointment.errors[:dc_pot_confirmed].to_sentence.capitalize %></span>
      <% end %>

      <div class="multiple-choice">
        <%= f.radio_button :dc_pot_confirmed, 'yes', aria: { describedby: 'dc_pot_confirmed_error' }, class: 't-dc-pot-confirmed-yes' %>
        <%= f.label :dc_pot_confirmed, value: 'yes', aria: { label: 'Yes, I have a defined contribution pot' }  do %>Yes<% end %>
      </div>

      <div class="multiple-choice">
        <%= f.radio_button :dc_pot_confirmed, 'no', aria: { describedby: 'dc_pot_confirmed_error' }, class: 't-dc-pot-confirmed-no' %>
        <%= f.label :dc_pot_confirmed, value: 'no', aria: { label: 'No, I do not have a defined contribution pot' } do %>No<% end %>
      </div>

      <div class="multiple-choice">
        <%= f.radio_button :dc_pot_confirmed, 'not-sure', aria: { describedby: 'dc_pot_confirmed_error' } %>
        <%= f.label :dc_pot_confirmed, value: 'not-sure', aria: { label: 'I am not sure if I have a defined contribution pot' } do %>Not sure<% end %>
      </div>
    </fieldset>
    <% unless @telephone_appointment.due_diligence? %>
      <p>
        You can use our tool to <a href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pension-wise/find-out-your-pension-type" target="_blank">find out your pension type</a>
      </p>
    <% end %>
    <p><%= render partial: 'components/webchat' %></p>
  </div>
  <% end %>

  <div class="form-group <%= 'form-group-error' if @telephone_appointment.errors.include?(:accessibility_requirements) %>" data-radio-toggle>
    <fieldset class="inline" aria-required="true">
      <legend class="form-label-bold">Making your phone appointment easier to access</legend>
      <span class="form-hint">Do you have any access requirements you’d like us to be aware of?</span>
      <% if @telephone_appointment.errors.include?(:accessibility_requirements) %>
        <span class="error-message"><%= @telephone_appointment.errors[:accessibility_requirements].to_sentence.capitalize %></span>
      <% end %>

      <div class="multiple-choice" data-target="adjustments">
        <%= f.radio_button :accessibility_requirements, true, aria: { describedby: 'accessibility_requirements_error' }, class: 't-accessibility-requirements-yes' %>
        <%= f.label :accessibility_requirements, value: true, aria: { label: 'Yes, I have accessibility requirements' } do %>Yes<% end %>
      </div>

      <div class="multiple-choice">
        <%= f.radio_button :accessibility_requirements, false, aria: { describedby: 'accessibility_requirements_error' }, class: 't-accessibility-requirements-no' %>
        <%= f.label :accessibility_requirements, value: false, aria: { label: 'No, I do not have accessibility requirements' } do %>No<% end %>
      </div>
      <% unless @telephone_appointment.due_diligence? %>
      <span class="form-hint">There are a few ways we can <a href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pension-wise/book-a-free-pension-wise-appointment/access-adjustments" target="_blank">make your Pension Wise appointment easier to access</a></span>
      <% end %>
    </fieldset>
  </div>

  <div class="application-notice info-notice js-hidden form-group <%= 'form-group-error' if @telephone_appointment.errors.include?(:adjustments) %>" id="adjustments" data-character-limit>
    <%= f.label :adjustments do %>
      Tell us if any adjustments would help you in the box below. We might contact you before your appointment for more information
      <% if @telephone_appointment.errors.include?(:adjustments) %>
        <span class="error-message"><%= @telephone_appointment.errors[:adjustments].to_sentence.capitalize %></span>
      <% end %>
    <% end %>
    <%= f.text_area :adjustments,
      class: "t-adjustments form-control form-control-3-4 js-character-limit-input #{'form-control-error' if @telephone_appointment.errors.include?(:adjustments)}",
      rows: 5, maxlength: 160, data: { maxlength: 160 }
    %>
  </div>

  <div class="form-group <%= 'form-group-error' if @telephone_appointment.errors.include?(:notes) %>" data-character-limit>
    <%= f.label :notes, class: 'form-label-bold' do %>
      Additional information
      <% if @telephone_appointment.errors.include?(:notes) %>
        <span class="error-message"><%= @telephone_appointment.errors[:notes].to_sentence.capitalize %></span>
      <% end %>
      <span class="form-hint">
        Please add any additional information here that may be helpful for the appointment
      </span>
    <% end %>
    <%= f.text_area :notes, class: 't-additional-info form-control form-control-3-4 js-character-limit-input', rows: 5, maxlength: 160, data: { maxlength: 160 } %>
  </div>

  <% unless @telephone_appointment.due_diligence? %>
  <div class="form-group t-attended-digital <%= 'form-group-error' if @telephone_appointment.errors.include?(:attended_digital) %>" id="telephone_appointment_attended_digital" tabindex="-1">
    <fieldset class="inline" aria-required="true">
      <legend class="form-label-bold">Have you completed an online Pension Wise appointment?</legend>
      <span class="form-hint">This helps us understand how Pension Wise is used.</span>
      <% if @telephone_appointment.errors.include?(:attended_digital) %>
        <span class="error-message" id="attended_digital_error"><span class="visually-hidden">Error: </span><%= @telephone_appointment.errors[:attended_digital].to_sentence.capitalize %></span>
      <% end %>

      <div class="multiple-choice">
        <%= f.radio_button :attended_digital, 'yes', aria: { describedby: 'attended_digital_error' }, class: 't-attended-digital-yes' %>
        <%= f.label :attended_digital, value: 'Yes', aria: { label: 'Yes, I have completed an online Pension Wise appointment' }  do %>Yes<% end %>
      </div>

      <div class="multiple-choice">
        <%= f.radio_button :attended_digital, 'no', aria: { describedby: 'attended_digital_error' }, class: 't-attended-digital-no' %>
        <%= f.label :attended_digital, value: 'No', aria: { label: 'No, I have not completed an online Pension Wise appointment' }  do %>No<% end %>
      </div>

      <div class="multiple-choice">
        <%= f.radio_button :attended_digital, 'not-sure', aria: { describedby: 'attended_digital_error' }, class: 't-attended-digital-not-sure' %>
        <%= f.label :attended_digital, value: 'Not-sure', aria: { label: 'I am not sure if I have completed an online Pension Wise appointment' }  do %>Not sure<% end %>
      </div>
    </fieldset>
  </div>
  <% end %>

  <% if @telephone_appointment.due_diligence? %>
    <%= f.hidden_field :where_you_heard, value: '2', class: 't-hidden-where-you-heard' %>

    <div class="form-group <%= 'form-group-error' if @telephone_appointment.errors.include?(:referrer) %>">
      <%= f.label :referrer, class: 'form-label-bold' do %>
        Which pension provider referred you for Pension Safeguarding Guidance?
      <% end %>

      <% if @telephone_appointment.errors.include?(:referrer) %>
        <span class="error-message" id="referrer_error"><span class="visually-hidden">Error: </span><%= @telephone_appointment.errors[:referrer].to_sentence.capitalize %></span>
      <% end %>
      <%= f.text_field :referrer, aria: { required: true, describedby: 'referrer_error' }, class: "t-referrer form-control #{'form-control-error' if @telephone_appointment.errors.include?(:referrer)}" %>
    </div>
  <% elsif @telephone_appointment.embedded? %>
    <%= f.hidden_field :where_you_heard, value: TelephoneAppointment::NUDGE_EMBED_WHERE_YOU_HEARD_ID, class: 't-hidden-where-you-heard' %>
  <% else %>
  <div class="form-group <%= 'form-group-error' if @telephone_appointment.errors.include?(:where_you_heard) %>">
    <%= f.label :where_you_heard, 'Where did you first hear of Pension Wise?', class: 'form-label-bold' %>
    <% if @telephone_appointment.errors.include?(:where_you_heard) %>
      <span class="error-message" id="where_you_heard_error"><span class="visually-hidden">Error: </span><%= @telephone_appointment.errors[:where_you_heard].to_sentence.capitalize %></span>
    <% end %>
    <%= f.select :where_you_heard,
          options_for_select(WhereYouHeard::OPTIONS.invert.to_a, @telephone_appointment.where_you_heard),
          { include_blank: true},
          { aria: { required: true, describedby: 'where_you_heard_error' }, class: "t-where-you-heard form-control #{'form-control-error' if @telephone_appointment.errors.include?(:where_you_heard)}" }
    %>
  </div>
  <% end %>

  <% if @telephone_appointment.due_diligence? %>
    <%= f.hidden_field :gdpr_consent, value: 'no', class: 't-hidden-gdpr-consent' %>
  <% else %>
  <div class="form-group t-gdpr-consent <%= 'form-group-error' if @telephone_appointment.errors.include?(:gdpr_consent) %>" id="telephone_appointment_gdpr_consent" tabindex="-1">
    <fieldset class="inline">
      <legend class="form-label-bold">Customer research consent</legend>
      <% if @telephone_appointment.errors.include?(:gdpr_consent) %>
        <span class="error-message" id="gdpr_error"><span class="visually-hidden">Error: </span><%= @telephone_appointment.errors[:gdpr_consent].to_sentence.capitalize %></span>
      <% end %>
      <span class="form-hint">
        Your feedback helps us improve the service. Is it OK if we share your
        contact details with our trusted research partners? With your consent,
        Pension Wise or our research partners, may contact you to ask if you
        would like to provide feedback and you can decide then if you want to
        take part.
      </span>

      <div class="multiple-choice">
        <%= f.radio_button :gdpr_consent, 'yes', class: 't-gdpr-consent-yes', aria: { required: true, describedby: 'gdpr_consent_error' } %>
        <%= f.label :gdpr_consent, value: 'yes', aria: { label: 'Yes, I consent to my contact details being shared for customer research' } do %>Yes<% end %>
      </div>

      <div class="multiple-choice">
        <%= f.radio_button :gdpr_consent, 'no', class: 't-gdpr-consent-no', aria: { required: true, describedby: 'gdpr_consent_error' } %>
        <%= f.label :gdpr_consent, value: 'no', aria: { label: 'No, I do not consent to my contact details being shared for customer research' } do %>No<% end %>
      </div>
    </fieldset>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.submit 'Confirm appointment', class: 'button button--primary t-submit', data: { disable_with: 'Please wait...' } %>
  </div>

  <div role="note" aria-label="Information" class="application-notice info-notice">
    <p>MoneyHelper collects and stores personal data for the purpose of delivering Pensions Guidance.</p>
    <% unless @telephone_appointment.due_diligence? %>
    <p class="t-data-sharing-banner">Your data will be shared with our delivery partner, Citizens Advice, only where it is necessary to provide you with Pension Wise guidance.</p>
    <% end %>
    <p>Full details of our privacy policy, including information on your rights in relation to the data we hold can be found in our <%= link_to 'privacy policy', money_helper_url('about-us/privacy-notice'), target: '_parent' %>.</p>
  </div>
</div>
<div class="l-column-third">
  <h5 class="slot-picker-header">Your requested appointment</h5>
  <div class="slot-picker-confirmed-date">
    <p class="slot-picker-confirmed-date__text heavy"><b><%= l(@telephone_appointment.start_at, format: :govuk_date) %></b></p>
    <p class="slot-picker-confirmed-date__text"><%= l(@telephone_appointment.start_at, format: :govuk_time) %> (<%= current_timezone(@telephone_appointment.start_at) %>), around 60 minutes</p>
  </div>

  <p><%= link_to('Change date/time', new_telephone_appointment_path(schedule_type: @telephone_appointment.schedule_type), class: 't-change-date-time') %></p>

  <% unless @telephone_appointment.due_diligence? %>
    <h5 class="slot-picker-header slot-picker-header--need-help t-need-help-banner">Need help?</h5>
  <% end %>

  <p>Phone <b><%= contact_number(@telephone_appointment) %></b> to speak to someone who can help book your free appointment.</p>
  <p>Call between <%= contact_hours(@telephone_appointment) %>, Monday to Friday</p>
</div>
