<div class="l-grid-row">
  <div class="l-column-full">
    <h1>Book a phone appointment</h1>

    <%= render partial: 'smarter_signposted_banner' if smarter_signposted? %>

    <% if @telephone_appointment.errors.any? || (params[:continue] && !slot_selected?) %>
      <div class="error-summary t-errors" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1" data-error-summary>
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
          Unable to submit the form
        </h2>

        <p>Check the following:</p>

        <ul class="error-summary-list">
          <% @telephone_appointment.errors.each do |key, message| %>
            <li><%= link_to "#{TelephoneAppointment.human_attribute_name key} – #{message}", "#telephone_appointment_#{key}" %></li>
          <% end %>
          <% unless slot_selected? %>
            <li><%= link_to 'Select a time', "#telephone_appointment_times" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <%= form_for @telephone_appointment, html: { id: "form_telephone_appointment_step_#{@telephone_appointment.step}" } do |f| %>
    <%= f.hidden_field(:step, id: 'hidden_telephone_appointment_step') %>
    <%= render "step_#{@telephone_appointment.step}", f: f %>

    <% if @telephone_appointment.step == 1 %>
      <div class="l-column-half l-column-half--right" data-slot-picker-single-time>
        <%= render 'times_js' %>
      </div>
    <% end %>
  <% end %>

  <% if @telephone_appointment.step == 1 || @telephone_appointment.step == 2 %>
    <%= render 'day_picker' %>
  <% end %>

  <div class="l-column-two-thirds">
    <%= render 'feedbacks/feedback_form' %>
  </div>
</div>

<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'PhoneBooking',
    'step': 'new'
  });
</script>
