<% content_for(:page_title, t('service.title', page_title: 'Your appointment summary')) %>
<% content_for(:meta_description, 'View, print or download a summary of your Pension Wise appointment') %>
<% content_for(:page_name, 'Appointment Summary Confirmation') %>
<% content_for(:tool_step, '2') %>

<div class="l-column-full">
  <h1>Your appointment summary</h1>
  <p>Your appointment summary is below. You can download or print the summary.</p>

  <div class="fixed-panel js-fixed-panel hide-from-print">
    <div class="fixed-panel__button">
      <%= form_for @appointment_summary, url: download_appointment_summaries_path, html: { id: 'download_form' }, namespace: 'download' do |f| %>

        <% [*SUPPLEMENTARY_OPTIONS, :appointment_type].each do |field| %>
          <%= f.hidden_field field %>
        <% end %>

        <%= f.submit 'Download', class: %w(button button--primary t-save-summary-as-pdf) %>
      <% end %>
    </div>

    <div class="fixed-panel__button">
      <%= form_for @appointment_summary, url: print_appointment_summaries_path, html: { target: '_blank', id: 'print_form' }, namespace: 'print' do |f| %>
        <% [*SUPPLEMENTARY_OPTIONS, :appointment_type].each do |field| %>
          <%= f.hidden_field field %>
        <% end %>

        <%= f.submit 'Print', class: %w(button t-print-summary) %>
      <% end %>
    </div>
  </div>

  <div class="summary-document t-summary-document t-summary-document--<%= appointment_type %>">
    <%= @content.html_safe %>
  </div>

  <script>
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      'appointment_type': '<%= appointment_type %>'
    });
  </script>
</div>
