<% content_for(:page_title, t('service.title', page_title: 'How to view your appointment summary')) %>
<% content_for(:meta_description, 'Choose the information you want in the summary of your Pension Wise appointment') %>

<%= form_for @appointment_summary, url: appointment_summaries_path, html: { class: 't-appointment-summary-generator' } do |f| %>
  <div class="page-header">
    <h1>How to view your appointment summary</h1>
  </div>

  <% if @appointment_summary.errors.any? %>
    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1" data-error-summary>
      <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
        Unable to submit the form
      </h2>

      <p>Check the following:</p>

      <ul class="error-summary-list">
        <% @appointment_summary.errors.each do |attribute, attribute_message| %>
          <li><%= link_to "#{AppointmentSummary.human_attribute_name attribute} – #{sanitize(attribute_message, :tags => [])}", "##{attribute}" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2 id="age">Your age</h2>

  <div class="form-group <%= 'form-group-error' if @appointment_summary.errors.include?(:appointment_type) %>" id="appointment_type" tabindex="-1">
    <fieldset class="inline">
      <legend class="visuallyhidden">Your age</legend>

      <% if @appointment_summary.errors.include?(:appointment_type) %>
        <span class="error-message"><%= @appointment_summary.errors[:appointment_type].to_sentence.capitalize %></span>
      <% end %>

      <div class="multiple-choice">
        <%= f.radio_button :appointment_type, '50_54', checked: false %>
        <%= f.label :appointment_type, value: '50_54', class: 't-appointment-type-50-54' do %>
          50 to 54
        <% end %>
      </div>
      <div class="multiple-choice">
        <%= f.radio_button :appointment_type, 'standard', checked: false %>
        <%= f.label :appointment_type, value: 'standard', class: 't-appointment-type-standard' do %>
          55 or over
        <% end %>
      </div>
    </fieldset>
  </div>

  <h2>Extra information</h2>
  <p>You can choose to include extra information in your summary. Select all options that are relevant to you.</p>

  <fieldset class="form-group">
    <legend class="visuallyhidden">Would you like any extra information on the following?</legend>

    <div class="multiple-choice">
      <%= f.check_box :supplementary_benefits, class: 't-supplementary-benefits' %>
      <%= f.label :supplementary_benefits do %>
        How my pension affects my benefits
      <% end %>
    </div>

    <div class="multiple-choice">
      <%= f.check_box :supplementary_debt, class: 't-supplementary-debt' %>
      <%= f.label :supplementary_debt do %>
        Getting help with debt
      <% end %>
    </div>

    <div class="multiple-choice">
      <%= f.check_box :supplementary_ill_health, class: 't-supplementary-ill-health' %>
      <%= f.label :supplementary_ill_health do %>
        Taking my pension if I have ill health
      <% end %>
    </div>

    <div class="multiple-choice">
      <%= f.check_box :supplementary_defined_benefit_pensions, class: 't-supplementary-defined-benefit-pensions' %>
      <%= f.label :supplementary_defined_benefit_pensions do %>
        Final salary or career average pensions
      <% end %>
    </div>

    <div class="multiple-choice">
      <%= f.check_box :supplementary_pension_transfers, class: 't-supplementary-pension-transfers' %>
      <%= f.label :supplementary_pension_transfers do %>
        Transferring a pension
      <% end %>
    </div>
  </fieldset>

  <div class="form-group">
    <%= f.submit 'View summary', class: 'button t-appointment-summary-submit' %>
  </div>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>
<% end %>
