<h1><%= t('.contact_us.title') %></h1>

<%= t('.contact_us.content.html') %>

<h2><%= t('.send_us_feedback.title') %></h2>

<%= t('.send_us_feedback.content.html') %>

<h2 id="complaints"><%= t('.complaints.title') %></h2>

<% if params[:sent] %>
  <%= t('.complaints.sent.html') %>
<% else %>
  <%= t('.complaints.intro.html') %>

  <%= form_for @complaint, url: contact_path(anchor: :complaints) do |f| %>
    <% if f.object.errors.any? %>
      <div class="error-summary t-errors" role="group" tabindex="-1">
        <h2 class="heading-medium error-summary-heading">
          <%= t('.complaints.form.error.heading') %>
        </h2>

        <p><%= t('.complaints.form.error.message') %></p>

        <ul class="error-summary-list">
          <% f.object.errors.each do |key, message| %>
            <li><%= link_to "#{Complaint.human_attribute_name key} – #{message}", "#feedback_#{key}" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group <%= 'form-group-error' if f.object.errors.include?(:name) %>">
      <%= f.label :name, class: 'form-label' %>
      <% if f.object.errors.include?(:name) %>
        <span class="error-message"><%= f.object.errors[:name].to_sentence.capitalize %></span>
      <% end %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group <%= 'form-group-error' if f.object.errors.include?(:email_address) %>">
      <%= f.label :email_address, 'Email', class: 'form-label' %>
      <% if f.object.errors.include?(:email_address) %>
        <span class="error-message"><%= f.object.errors[:email_address].to_sentence.capitalize %></span>
      <% end %>
      <%= f.email_field :email_address, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :phone_booking_message, t('.complaints.form.notes.phone_booking'), class: 'form-label' %>
      <%= f.text_area :phone_booking_message, class: 'form-control form-control-3-4', rows: 5 %>
    </div>

    <div class="form-group">
      <%= f.label :face_to_face_message, t('.complaints.form.notes.face_to_face'), class: 'form-label' %>
      <%= f.text_area :face_to_face_message, class: 'form-control form-control-3-4', rows: 5 %>
    </div>

    <div class="form-group">
      <%= f.label :other_message, t('.complaints.form.notes.other'), class: 'form-label' %>
      <%= f.text_area :other_message, class: 'form-control form-control-3-4', rows: 5, placeholder: t('.complaints.form.help.other') %>
    </div>

    <%= t('.complaints.form.privacy.html') %>

    <div class="form-group">
      <%= f.submit 'Send complaint', class: 'button' %>
    </div>
  <% end %>

  <%= t('.complaints.guide.html') %>
<% end %>

<%= t('.complaints.promises.html') %>

<h3><%= t('.take_things_further.title') %></h3>

<%= t('.take_things_further.content.html') %>

<h3><%= t('.get_more_help.title') %></h3>

<%= t('.get_more_help.content.html') %>
