<h2 id="complaints"><%= t('.complaints.title') %></h2>

<% if params[:sent] %>
  <%= t('.complaints.sent.html') %>
<% else %>
  <%= t('.complaints.intro.html') %>

  <%= form_for @complaint, url: contact_path(anchor: :complaints) do |f| %>
    <% if f.object.errors.any? %>
      <div class="error-summary t-errors" role="alert" tabindex="-1" data-error-summary>
        <h2 class="heading-medium error-summary-heading">
          <%= t('.complaints.form.error.heading') %>
        </h2>

        <p><%= t('.complaints.form.error.message') %></p>

        <ul class="error-summary-list">
          <% f.object.errors.each do |key, message| %>
            <li><%= link_to "#{Complaint.human_attribute_name key} – #{message}", "#complaint_#{key}" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group <%= 'form-group-error' if f.object.errors.include?(:name) %>">
      <%= f.label :name, class: 'form-label-bold' %>
      <% if f.object.errors.include?(:name) %>
        <span class="error-message"><%= f.object.errors[:name].to_sentence.capitalize %></span>
      <% end %>
      <%= f.text_field :name, aria: { required: true }, class: "form-control #{'form-control-error' if @complaint.errors.include?(:name)}" %>
    </div>

    <div class="form-group <%= 'form-group-error' if f.object.errors.include?(:email_address) %>">
      <%= f.label :email_address, class: 'form-label-bold' %>
      <% if f.object.errors.include?(:email_address) %>
        <span class="error-message"><%= f.object.errors[:email_address].to_sentence.capitalize %></span>
      <% end %>
      <%= f.email_field :email_address, class: "form-control #{'form-control-error' if @complaint.errors.include?(:email_address)}" %>
    </div>

    <div id="complaint_nature_of_complaint" class="form-group t-nature-of-complaint <%= 'form-group-error' if @complaint.errors.include?(:nature_of_complaint) %>" data-radio-toggle tabindex="-1">
      <fieldset aria-required="true">
        <legend class="form-label-bold"><%= t('.complaints.form.nature_of_complaint.legend') %></legend>

        <% if @complaint.errors.include?(:nature_of_complaint) %>
          <span class="error-message"><%= @complaint.errors[:nature_of_complaint].to_sentence.capitalize %></span>
        <% end %>

        <% Complaint::NATURE_OF_COMPLAINT.each do |option| %>
          <div class="multiple-choice" data-target="<%= option %>">
            <%= f.radio_button :nature_of_complaint, option, { class: "t-nature-of-complaint-#{option.to_s.dasherize} form-control" } %>
            <%= f.label :nature_of_complaint, value: option, class: 'block-label selection-button-radio' do %>
              <%= t(".complaints.form.nature_of_complaint.options.#{option}", default: option) %>
            <% end %>
          </div>
        <% end %>
      </fieldset>
    </div>

    <div class="form-group js-hidden <%= 'form-group-error' if @complaint.errors.include?(:phone_booking_message) %>" id="phone_booking_message">
      <%= f.label :phone_booking_message, class: 'form-label-bold' do %>
        <%= t('.complaints.form.notes.phone_booking') %>
        <span class="form-hint"><%= t('.complaints.form.notes.phone_booking_hint') %></span>
      <% end %>

      <% if @complaint.errors.include?(:phone_booking_message) %>
        <span class="error-message"><%= @complaint.errors[:phone_booking_message].to_sentence.capitalize %></span>
      <% end %>

      <%= f.text_area :phone_booking_message, class: "form-control form-control-3-4 #{'form-control-error' if @complaint.errors.include?(:phone_booking_message)}", rows: 5 %>
    </div>

    <div class="form-group js-hidden <%= 'form-group-error' if @complaint.errors.include?(:face_to_face_message) %>" id="face_to_face_message">
      <%= f.label :face_to_face_message, class: 'form-label-bold' do %>
        <%= t('.complaints.form.notes.face_to_face') %>
        <span class="form-hint"><%= t('.complaints.form.notes.face_to_face_hint') %></span>
      <% end %>

      <% if @complaint.errors.include?(:face_to_face_message) %>
        <span class="error-message"><%= @complaint.errors[:face_to_face_message].to_sentence.capitalize %></span>
      <% end %>

      <%= f.text_area :face_to_face_message, class: "form-control form-control-3-4 #{'form-control-error' if @complaint.errors.include?(:face_to_face_message)}", rows: 5 %>
    </div>

    <div class="form-group js-hidden <%= 'form-group-error' if @complaint.errors.include?(:other_message) %>" id="other_message">
      <%= f.label :other_message, class: 'form-label-bold' do %>
        <%= t('.complaints.form.notes.other') %>
        <span class="form-hint"><%= t('.complaints.form.notes.other_hint') %></span>
      <% end %>

      <% if @complaint.errors.include?(:other_message) %>
        <span class="error-message"><%= @complaint.errors[:other_message].to_sentence.capitalize %></span>
      <% end %>

      <%= f.text_area :other_message, class: "form-control form-control-3-4 #{'form-control-error' if @complaint.errors.include?(:other_message)}", rows: 5 %>
    </div>

    <%= t('.complaints.form.privacy.html') %>

    <div class="form-group">
      <%= f.submit 'Send complaint', class: 'button' %>
    </div>
  <% end %>

<% end %>
