<h1><%= t('.contact_us.title') %></h1>

<%= t('.contact_us.content.html') %>

<h2><%= t('.send_us_feedback.title') %></h2>

<%= t('.send_us_feedback.content.html') %>

<h2>Complaints</h2>

<p>You can email Pension Wise at <a href="mailto:contact@pensionwise.gov.uk">contact@pensionwise.gov.uk</a></p>

<%= t('.complaints.guide.html') %>

<%= t('.complaints.promises.html') %>

<h3><%= t('.take_things_further.title') %></h3>

<%= t('.take_things_further.content.html') %>

<h3><%= t('.get_more_help.title') %></h3>

<%= t('.get_more_help.content.html') %>
