<% content_for(:page_title, t('service.title', page_title: 'Appointment details')) %>

<% content_for :head do %>
  <style>
    .sidebar-hr {
      display:none
    }
  </style>
<% end %>

<% if @appointment.errors.any? %>
<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
  <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
    There is a problem
  </h1>

  <p>
    Check your information. You need to:
  </p>

  <ul class="error-summary-list">
    <% @appointment.errors.each do |attribute, error| %>
      <li><a href=<%= "#appointment_#{attribute}" %>><%= error %></a></li>
    <% end %>
  </ul>
</div>
<% end %>

<h1>Appointment details</h1>

<p>Date<br />
  <strong><%= @appointment.date %></strong></p>

<p>Time<br />
  <strong><%= @appointment.time %></strong></p>

<%= form_for @appointment, builder: AppointmentFormBuilder do |appointment| %>

  <%= appointment.form_group :type do %>
    <fieldset id="appointment_type">
      <legend>
        <span class="form-label-bold">Type of appointment</span>
      </legend>
      <span class="form-hint">
        Appointments are with Pension Wise guidance specialists.
        Face-to-face appointments take place at Citizens Advice bureaus.
      </span>

      <label class="block-label" data-target="memorable-word-inset" for="appointment_type_phone">
        <%= appointment.radio_button :type, 'phone' %> Phone
      </label>

      <label class="block-label" data-target="postcode-inset" for="appointment_type_face-to-face">
        <%= appointment.radio_button :type, 'face-to-face' %> Face to face
      </label>
    </fieldset>
  <% end %>

  <div class="panel-indent js-hidden" id="memorable-word-inset">
    <%= appointment.form_group :memorable_word do %>
      <%= appointment.label :memorable_word, 'Memorable word', class: 'form-label' %>

      <span class="form-hint">
            We’ll repeat this word to you at the start of your
            phone appointment. This is so you can be confident you’re speaking with
            a Pension Wise guidance specialist.
          </span>

      <%= appointment.text_field :memorable_word, class: 'form-control' %>
    <% end %>
  </div>

  <div class="panel-indent js-hidden" id="postcode-inset">
    <%= appointment.form_group :postcode do %>
      <%= appointment.label :postcode, 'Postcode', class: 'form-label' %>

      <span class="form-hint">This is to help us find your nearest appointment location.</span>

      <%= appointment.text_field :postcode, class: 'form-control' %>
    <% end %>
  </div>

  <%= appointment.form_group :name do %>
    <%= appointment.label :name, 'First name' %>
    <%= appointment.text_field :name, class: 'form-control' %>
  <% end %>

  <%= appointment.form_group :surname do %>
    <%= appointment.label :surname, 'Last name' %>
    <%= appointment.text_field :surname, class: 'form-control' %>
  <% end %>

  <%= appointment.form_group :phone do %>
    <%= appointment.label :phone, 'Phone number' %>
    <%= appointment.text_field :phone, class: 'form-control' %>
  <% end %>

  <%= appointment.form_group :email do %>
    <%= appointment.label :email, 'Email' %>
    <%= appointment.text_field :email, class: 'form-control' %>
  <% end %>

  <%= appointment.hidden_field :slot %>

  <div class="form-group">
    <%= appointment.submit 'Send request', class: 'button', id: 'appointment_send_request' %>
  </div>

<% end %>
