<% content_for(:page_title, t('service.title', page_title: @category_navigation.title)) %>
<% content_for(:meta_description, @category_navigation.description) %>

<h1><%= @category_navigation.title %></h1>

<ul class="link-promo__list l-category">
  <% @category_navigation.guides.each do |guide| %>
    <li class="link-promo__item">
      <% if guide.is_a?(Array) %>
        <h2><%= link_to_guide guide.shift %></h2>

        <ul>
          <% guide.each do |nested_guide| %>
            <li class="link-promo__item">
              <%= link_to_guide nested_guide %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <%= link_to_guide guide %>
      <% end %>
    </li>
  <% end %>
</ul>

<% content_for :sticky_sidebar do %>
  <aside class="l-sticky-sidebar js-sticky-sidebar">
    <%= render partial: 'shared/specialist_call_out' %>
  </aside>
<% end %>

<% content_for :after_script do %>
  <%= javascript_include_tag 'bootstrap/js/affix' %>
  <%= javascript_include_tag 'bootstrap/js/scrollspy' %>

  <script>
    'use strict';
    $('.js-sticky-sidebar').affix({
      offset: {
        top: $('.js-sticky-sidebar').offset().top,
        bottom: function () {
          return (this.bottom = $('.js-footer').outerHeight(true) + 150);
        }
      }
    });

    $('body').scrollspy({
      target: '.js-sticky-sidebar',
      offset: 50
    });
  </script>
<% end %>
