<% content_for(:page_title, t('styleguide.title', page_title: 'Homepage')) %>

<div class="strapline">
  <span class="strapline__first-sentence">Your money.</span> Your choice.
</div>

<div class="l-grid-row l-home-top-slot">
  <div class="l-column-third">
    <p>
      Pension Wise is a free and impartial government service that helps you
      understand
      <strong>
        <%= link_to 'what you can do with your pension pot', guide_path('pension-pot-options') %>
      </strong>. You’ll get
      information on your pension options, taxes and fees.
    </p>

    <p>Pension Wise won’t recommend any products or tell you what to
      do with your money.</p>
  </div>
</div>

<hr/>

<section class="l-home-guides">
  <h2>Pension Wise guides</h2>

  <div class="l-grid-row">
    <div class="l-column-half">
      <h3>Your pension pot</h3>
      <ul class="unstyled-list t-article-links">
        <li class="unstyled-list__item">
          <%= link_to 'Know your pension type', guide_path('pension-types') %>
        </li>
        <li class="unstyled-list__item">
          <%= link_to 'Check the value of your pension pot', guide_path('pension-pot-value') %>
        </li>
        <li class="unstyled-list__item">
          <%= link_to "If you're divorced", guide_path('divorce') %>
        </li>
      </ul>
    </div>
    <div class="l-column-half">
      <h3>Your options</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <%= link_to 'What you can do with your pension pot', guide_path('pension-pot-options') %>
        </li>
        <li class="unstyled-list__item">
          <%= link_to 'Shop around and compare providers', guide_path('shop-around') %>
        </li>
        <li class="unstyled-list__item">
          <%= link_to 'Living abroad and your pension', guide_path('living-abroad') %>
        </li>
      </ul>
    </div>
  </div>
  <div class="l-grid-row">
    <div class="l-column-half">
      <h3>Your money in retirement</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <%= link_to 'Make your money last', guide_path('making-money-last') %>
        </li>
        <li class="unstyled-list__item">
          <%= link_to 'Work out what you’ll have in retirement', guide_path('work-out-income') %>
        </li>
        <li class="unstyled-list__item">
          <%= link_to '', guide_path('benefits') %>
        </li>
      </ul>

      <h3>Tax</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <%= link_to 'Tax you pay on your pension', guide_path('tax') %>
        </li>
      </ul>

    </div>
    <div class="l-column-half">
      <h3>Scams</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <%= link_to 'How to avoid a scam', guide_path('scams') %>
        </li>
      </ul>

      <h3>Complaints</h3>
      <ul class="unstyled-list">
        <li class="unstyled-list__item">
          <%= link_to 'How to complain about a pension', guide_path('pension-complaints') %>
        </li>
        <li class="unstyled-list__item">
          <%= link_to 'Complain about Pension Wise', guide_path('complaints') %>
        </li>
      </ul>
    </div>
  </div>
</section>

<hr class="hr-thin">

<section class="l-home-appointments">
  <div class="l-grid-row">
    <div class="l-column-two-thirds">
      <h2 id="phone-and-face-to-face-guidance-coming-soon">Phone and
        face-to-face guidance coming soon</h2>

      <p>You can get guidance on your pension options from this website.</p>

      <p>If you prefer to speak to someone, you’ll soon be able to talk to an
        impartial guidance specialist on the phone or face to face. The guidance
        you get will be based on
        <%= link_to 'steps you can follow on this website', guide_path('6-steps-you-need-to-take') %>.
        Register your interest if you’d like to take part in upcoming trials of
        phone or face-to-face guidance.</p>

      <p>
        <a href="https://www.register-interest-pension-guidance.service.gov.uk/register"
           class="button">
          Register your interest
        </a>
      </p>
    </div>
  </div>
</section>

<hr class="hr-thin">

<section class="l-home-about">
  <h2 id="pensions-are-changing">Pensions are changing</h2>

  <div class="l-grid-row">
    <div class="l-column-half">
      <p>
        From 6 April 2015 you'll have more freedom over how you take money from
        your pension pot.
      </p>

      <p>These changes affect you if:</p>

      <ul>
        <li>you're <strong>55 or over</strong>, and</li>
        <li>have a pension based on how much has been paid into your pot (a
          <strong>defined contribution pension</strong>).
        </li>
      </ul>

      <p>
        <%= link_to 'Help with understanding your pension type', guide_path('know-your-pension-type') %>
      </p>

    </div>
    <div class="l-column-half">
      <p>If you have a defined benefit pension - one based on your salary and
        length of time with your employer - you can still get information from
        these organisations:</p>

      <ul>
        <li><a rel="external" href="http://www.pensionsadvisoryservice.org.uk/">The
          Pensions Advisory Service</a></li>
        <li><a rel="external" href="https://www.moneyadviceservice.org.uk/">
          The Money Advice Service</a></li>
      </ul>
    </div>
  </div>
</section>
