<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'CalculatorEstimate'
    , 'tax_paid': <%= estimate.pot_tax.to_i %>
    , 'pot_payout': <%= estimate.pot_received.to_i %>
  });
</script>

<p>
  If you take your whole <%= number_to_currency(estimate.pot) %> pot in one go, you could get:

  <strong class="calculator__estimate__number t-pot-received">
    <%= number_to_currency(estimate.pot_received) %>
  </strong>

  We estimate you’ll pay:

  <strong class="calculator__estimate__number t-pot-tax">
    <%= number_to_currency(estimate.pot_tax) %> in tax
  </strong>
</p>

<ul>
  <li>
    Your total includes your 25% tax-free lump sum.
  </li>
  <li>
    This is an estimate — the exact amount of tax you pay depends on your total income for the year and your tax rate.
  </li>
</ul>
