<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'CalculatorEstimate'
    , 'pot_tax': <%= estimate.pot_tax.to_i %>
    , 'pot_received': <%= estimate.pot_received.to_i %>
  });
</script>

<p>
  If you take your whole <%= number_to_currency(estimate.pot) %> pot in one go, you could pay:

  <strong class="calculator__estimate__number t-pot-tax">
    <%= number_to_currency(estimate.pot_tax) %> in tax
  </strong>

  and get a total of:

  <strong class="calculator__estimate__number t-pot-received">
    <%= number_to_currency(estimate.pot_received) %>
  </strong>
</p>

<ul>
  <li>Your total includes your 25% tax-free lump sum.</li>
  <li>This is an estimate — the exact amount of tax you pay depends on your total income and your tax rate.</li>
</ul>
