<%
  form = local_assigns[:form]
  errors = form&.errors || {}
%>

<h2 id="calculator"><%= t('.heading') %></h2>

<%= render 'calculators/error_summary',
  form: Calculators::TakeWholePotForm,
  errors: errors if form&.invalid? %>

<form action="/take-whole-pot/estimate#calculator" method="get">
  <%= render 'calculators/form_input_currency',
             field: :income,
             value: form&.income,
             label: Calculators::TakeWholePotForm.human_attribute_name(:income),
             hint: t('.income_hint'),
             error_messages: errors[:income] %>

  <%= render 'calculators/form_input_currency',
             field: :pot,
             value: form&.pot,
             label: Calculators::TakeWholePotForm.human_attribute_name(:pot),
             error_messages: errors[:pot] %>

  <%= render 'calculators/form_input_submit' %>
</form>

<% if form %>
  <script>
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      'event': 'CalculatorEstimate',
      'valid': <%= form.valid? %>
      <% if form.valid? %>
      , 'pot': <%= form.pot.to_i %>
      , 'income': <%= form.income.to_i %>
      <% end %>
    });
  </script>
<% end %>
