<% content_for(:page_title, t('service.title', page_title: @guide.title)) %>
<% content_for(:meta_description, @guide.description) %>

<% content_for :sidebar do %>
  <% if @journey.include?(@guide) %>
    <div class="link-promo">
      <h2 class="link-promo__heading">6 steps you need to take</h2>

      <p>
        <a href="/6-steps-you-need-to-take">Read the 6 steps overview</a>
      </p>

      <hr class="hr-thin">

      <%= render 'components/journey_nav', journey: @journey, current_step: @guide %>
    </div>
  <% end %>

  <div class="link-promo">
    <h2 class="link-promo__heading">Elsewhere on Pension Wise</h2>
    <ul class="link-promo__list">
      <% @related_guides.each do |related_guide| %>
        <li class="link-promo__item t-link-promo__item">
          <%= link_to related_guide.title, related_guide.url unless related_guide == @guide %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= @guide.content %>

<% if @journey.include?(@guide) %>
  <%
     journey_size = @journey.count
     journey_index = @journey.find_index(@guide)

     next_step = journey_index < journey_size && @journey.to_a[journey_index + 1]
     previous_step = journey_index > 0 && @journey.to_a[journey_index - 1]
  %>

  <ul class="pager">
    <li class="pager__item pager__item--previous">
      <% if previous_step %>
        <a href="<%= previous_step.url %>" rel="prev">
          <span class="pager__label">Previous</span>
          <span class="pager__title">
            <span class="t-pager__item-previous"><%= journey_index %>. <%= previous_step.label %></span>
          </span>
        </a>
      <% else %>
        <a href="/6-steps-you-need-to-take" rel="prev">
          <span class="pager__label">Previous</span>
          <span class="pager__title">
            <span class="t-pager__item-previous">Read the 6 steps overview</span>
          </span>
        </a>
      <% end %>
    </li>

    <% if next_step %>
      <li class="pager__item pager__item--next">
        <a href="<%= next_step.url %>" rel="next">
          <span class="pager__label">Next</span>
          <span class="pager__title">
            <span class="t-pager__item-next"><%= journey_index + 2 %>. <%= next_step.label %></span>
          </span>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
