<% content_for(:page_title, t('service.title', page_title: @guide.title)) %>
<% content_for(:meta_description, @guide.description) %>

<% if @guide.experiment %>
  <% content_for :experiment do %>
    <%# Google Content Experiments Client %>
    <%= javascript_include_tag "//www.google-analytics.com/cx/api.js?experiment=#{@guide.experiment}" %>

    <script>
      var variation = cxApi.chooseVariation();
    </script>
    <%# End Google Content Experiments Client %>
  <% end %>

  <% content_for :after_script do %>
    <%= javascript_include_tag "experiments/#{@guide.experiment}" %>

    <script>
      PWPG.experiment.init(variation);
    </script>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <% cache(@guide.slug) do %>
    <% if journey_navigation.active? %>
      <div class="link-promo ga-journey-sidebar">
        <h2 class="link-promo__heading"><%= journey_navigation.overview.label %></h2>
        <p>
          <%= link_to "Read the #{journey_navigation.overview.concise_label} overview",
                      journey_navigation.overview.url %>
        </p>
        <hr class="hr-thin">
        <%= render 'components/journey_nav', journey_navigation: journey_navigation %>
      </div>
    <% end %>
  <% end %>

  <div class="link-promo ga-elsewhere-sidebar">
    <h2 class="link-promo__heading">Elsewhere on Pension Wise</h2>
    <ul class="link-promo__list">
      <% @related_guides.each do |related_guide| %>
        <li class="link-promo__item t-link-promo__item">
          <%= link_to related_guide.title, related_guide.url unless related_guide == @guide %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= @guide.content %>

<% if journey_navigation.active? %>
  <%= render 'components/pager', pager: journey_navigation %>
<% end %>
