<% content_for(:page_name, 'Adjustable Income Calculator Estimate') %>
<% content_for(:tool_step, '2') %>

<div id="js-estimate">
  <script>
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      'event': 'CalculatorEstimate',
      'pot_payout': <%= monthly_drawdown_amount.to_i %>
    });
  </script>

  <p>
    <%= t('.summary.html', pot_value: number_to_currency(pot),
                           estimate: number_to_currency(estimate[:tax_free_lump_sum]),
                           drawdown_amount: number_to_currency(monthly_drawdown_amount),
                           until_age: estimate[:desired_income_with_pot_growth_lasts_until]) %>
  </p>
</div>

<p>
  <label for="slider"><%= t('.slider_label') %></label>
  <%= render 'components/slider', {
      id: 'slider',
      target: '#desired_monthly_income',
      option: 'adjustable-income',
      text_before: '£',
      initial_value: monthly_drawdown_amount,
      min: 50,
      max: monthly_drawdown_amount.to_f * Calculators::ARBITRARY_MULTIPLIER,
      step: 5,
      text_label: 'monthly income',
      slider_label: 'up and down arrow keys will change the monthly income'
  } %>
</p>

<ul class="t-calculator-notes">
  <%= t('.notes.html', monthly_income: number_to_currency(estimate[:monthly_income_until_life_expectancy]),
                       until_age: estimate[:life_expectancy],
                       growth_rate: estimate[:growth_interest_rate].to_i) %>
</ul>
