<% content_for(:page_title, "Appointment locations near #{@postcode.squish.upcase} - Pension Wise") %>

<h1>Appointment locations near <%= @postcode.squish.upcase %></h1>

<p>Your nearest locations are:</p>

<ol class="location-list">
  <% @locations.each do |location| %>
    <li class="location-list__item t-location">
      <h2 class="location-list__name"><%= link_to(location.name, location_path(location.id, postcode: @postcode), class: 't-name') %></h2>
      <p class="location-list__address t-address">
        <%= location.address %>
      </p>
      <p class="location-list__distance t-distance">
        <span class="location-list__distance-label">Distance:</span>
        <%= location.distance %> miles
      </p>
      <% if Locations.online_booking?(location.id) %>
      <p>
        <%= link_to 'Book online', booking_request_step_one_location_path(location.id), class: 'button t-book-online' %>
      </p>
      <p>
        Or book by phone <strong class="t-phone"><%= location.phone %></strong>.
      </p>
    <% else %>
      <p>
        Book by phone <strong class="t-phone"><%= location.phone %></strong>.
      </p>
    <% end %>
    <hr class="clear">
    </li>
  <% end %>
</ol>


<p>Search for another location:</p>

<%= render 'components/locations_search' %>

<div class="application-notice info-notice">
  <p>You can also <a href="/book#by-phone">book a phone appointment</a>.</p>
</div>

</body>
</html>
