<% content_for(:page_title, "Appointment locations near #{@postcode.squish.upcase} - Pension Wise") %>

<h1>Appointment locations near <%= @postcode.squish.upcase %></h1>

<p>These are the <%= @locations.length %> locations nearest to <%= @postcode.squish.upcase %>.</p>

<ol class="location-list">
  <% @locations.each do |location| %>
    <li class="location-list__item t-location">
      <div class="l-grid-row">
        <div class="l-column-two-thirds">
          <h2 class="location-list__name"><%= location.name %></h2>

          <div class="t-address">
            <%= simple_format(location.address) %>
          </div>

          <p class="location-list__distance t-distance">
            <span class="location-list__distance-label">Distance:</span>
            <%= location.distance %> miles
          </p>

          <% if Locations.online_booking?(location.id) %>
            <p>
              <%= link_to 'Book online', booking_request_step_one_location_path(location.id), class: 'button t-book-online' %>
            </p>
            <p>
              Or book by phone <strong class="t-phone"><%= location.phone %></strong>.
            </p>
          <% else %>
            <p>
              Book by phone <strong class="t-phone"><%= location.phone %></strong>.
            </p>
          <% end %>
        </div>

        <div class="l-column-third">
          <a href="https://maps.google.com/maps?q=<%= location.address_flattened %>" target="_blank">
            <img
              height="300"
              style="border:0; position: relative;"
              src="https://maps.googleapis.com/maps/api/staticmap?markers=<%= location.address_flattened %>&size=300x300&zoom=16&key=AIzaSyB_H8kX3vHhOJMYIoBu3_SMnxXf-NYY3Y0" />
          </a>
        </div>
      </div>
      <div class="l-grid-row">
        <div class="l-column-third">
          <p><%= link_to("More details about #{location.name}", location_path(location.id, postcode: @postcode), class: 't-name') %></p>
        </div>
      </div>
    </li>
  <% end %>
</ol>


<p>Search for another location:</p>

<%= render 'components/locations_search' %>

<div class="application-notice info-notice">
  <p>You can also <a href="/book#by-phone">book a phone appointment</a>.</p>
</div>

</body>
</html>
