<% content_for(:page_title, t('service.title', page_title: 'Appointment locations near you')) %>

<h1>Appointment locations near you</h1>

<p>Appointment availability depends on location. We may need to call you to arrange an alternative date.</p>

<p>There are <%= @locations.length %> locations near to <%= @postcode.squish.upcase %>.</p>

<ol class="location-list">
  <% @locations.each do |location| %>
    <li class="location-list__item t-location">
      <div class="l-grid-row">
        <div class="l-column-two-thirds">
          <h2 class="location-list__name t-name"><%= location.name %></h2>

          <div class="t-address">
            <%= simple_format(location.address) %>
          </div>

          <p class="location-list__distance t-distance">
            <span class="location-list__distance-label">Distance:</span>
            <%= location.distance %> miles
          </p>

          <%= render partial: 'location', locals: { location: location } %>
        </div>

        <div class="l-column-third">
        </div>
      </div>
      <div class="l-grid-row">
        <div class="l-column-third">
          <p><%= link_to("More details about #{location.name}", location_path(location.id), class: 't-location-link') %></p>
        </div>
      </div>
    </li>
  <% end %>
</ol>


<p>Search for another location:</p>

<%= render 'components/locations_search' %>

<div class="application-notice info-notice">
  <p>You can also <%= link_to 'book a phone appointment', guide_path('book-phone') %>.</p>
</div>
