<% content_for(:page_title, "#{@location.name} - Pension Wise") %>
<% content_for(:meta_description, "Find out the address, booking hours and how to book a Pension Wise appointment at #{@location.name} Citizens Advice") %>

<h1 class="t-name"><%= @location.name %></h1>

<p>
  Your appointment will be at <%= @location.name %> Citizens Advice with a trained Pension Wise
    guidance specialist.
</p>

<h2 class="heading-small">Address</h2>
<div class="t-address">
  <%= simple_format(@location.address) %>
</div>

<% unless @location.hours.blank? %>
  <h3 class="heading-small">Booking hours</h3>
  <div class="t-hours"><%= simple_format(@location.hours) %></div>
<% end %>

<h2 class="heading-small">How to book</h2>

<p>
  Call <strong class="t-phone"><%= @location.phone %></strong>.
</p>

<% if @location.booking_location %>
  <p>
    Tell the operator that you want to book a Pension Wise appointment at
      <%= @location.name %> Citizens Advice.
  </p>
<% end %>

<p>There may be a more convenient location, such as a local library or community centre.
    Ask when you call.</p>

<div class="application-notice help-notice">
  <p>We can’t answer specific questions about your pension on this number.</p>
</div>

<p>
  You can also book in person by visiting any Citizens Advice bureau.
</p>
