<% content_for(:page_title, "#{@location.name} - Pension Wise") %>
<% content_for(:meta_description, "Find out the address, booking hours and how to book a Pension Wise appointment at #{@location.name} Citizens Advice") %>

<% content_for(:data_layer) do %>
  <script>
    dataLayer = [{
      <% if @location.search_context.present? %>
        'distance': '<%= @location.search_context.distance %>',
        'position': '<%= @location.search_context.position %>',
      <% end %>
      <% if @postcode.present? %>
        'postcode': '<%= @postcode.squish.upcase %>',
      <% end %>
      'locationId': '<%= @location.id %>'
    }];
  </script>
<% end %>

<% if @postcode.present? %>
  <%= link_to 'Back to results', locations_path(postcode: @postcode), class: %w(link-back t-back-to-results) %>
<% end %>

<h1 class="t-name"><%= @location.name %></h1>

<div class="l-grid-row">
  <div class="l-column-half">
    <p>
      Your appointment will be at <%= @location.name %> Citizens Advice with a trained Pension Wise
        guidance specialist.
    </p>

    <h2 class="heading-small">Address</h2>
    <div class="t-address">
      <%= simple_format(@location.address) %>
    </div>

    <h2 class="heading-small">Ways to book</h2>

    <% if Locations.online_booking?(@location.id) %>
      <p>
        <%= link_to 'Book online', booking_request_step_one_location_path(@location.id), class: 'button t-book-online' %>
      </p>


        Or book by phone <strong class="t-phone"><%= @location.phone %></strong>.
      <% unless @location.hours.blank? %>
      <div class="t-hours"><%= simple_format(@location.hours) %></div>
    <% end %>
    <% else %>
        Book by phone <strong class="t-phone"><%= @location.phone %></strong>.
      <% unless @location.hours.blank? %>
      <div class="t-hours"><%= simple_format(@location.hours) %></div>
    <% end %>
    <% end %>

    <p>The appointment times available can change depending on your location.</p>

    <% if @location.booking_location %>
      <p>
        Tell the operator that you want to book a Pension Wise appointment at
          <%= @location.name %> Citizens Advice.
      </p>
    <% end %>
  </div>

  <div class="l-column-half">
    <h2 class="heading-small" style="margin-top: 0;">Find us here:</h2>

    <a href="https://maps.google.com/maps?q=<%= @location.address %>" target="_blank">
      <img
        height="450"
        style="border:0; position: relative; width:100%;"
        src="https://maps.googleapis.com/maps/api/staticmap?markers=<%= @location.address %>&size=600x450&zoom=16&key=AIzaSyB_H8kX3vHhOJMYIoBu3_SMnxXf-NYY3Y0" />
    </a>
  </div>
</div>
