<% content_for(:page_title, t('service.title', page_title: @location.name)) %>
<% content_for(:meta_description, "Find out the address, booking hours and how to book a Pension Wise appointment at #{@location.name} Citizens Advice") %>

<a href="javascript:" onclick="history.back(); return false;" class="js-enabled link-back t-back-to-results">Back to results</a>

<h1 class="t-name"><%= @location.name %></h1>

<div class="l-grid-row">
  <div class="l-column-half">
    <p>
      Your appointment will be with a trained Pension Wise
      guidance specialist.
    </p>

    <% if @location.accessibility_information? %>
      <h2>Accessibility</h2>

      <p class="t-accessibility-information"><%= @location.accessibility_information %></p>
    <% end %>

    <h2>Address</h2>
    <div class="t-address">
      <%= simple_format(@location.address) %>
    </div>

    <%= render partial: 'location', locals: { location: @location } %>

    <% if @location.slots_available? %>
      <h2>Before you book</h2>

      <p>You should be aged <b>50 or over</b> and have a <%= link_to 'defined contribution', guide_path('pension-types') %> pension (not a final salary or career average pension).</p>
    <% end %>
  </div>

  <div class="l-column-half">
    <h2 style="margin-top: 0;">Find us here:</h2>

    <a href="https://maps.google.com/maps?q=<%= @location.address_encoded %>" target="_blank">
      <img
        height="450"
        alt="map showing the location of <%= @location.name %> (link opens external website in new window)"
        style="border:0; position: relative; width:100%;"
        src="https://maps.googleapis.com/maps/api/staticmap?markers=<%= @location.address_encoded %>&center=<%= @location.address_encoded %>&size=440x330&zoom=15&scale=2&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>" />
    </a>
  </div>
</div>
