<% content_for :head do %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag 'pensions-guidance', media: 'screen' %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag 'pensions-guidance-ie6', media: 'screen' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'pensions-guidance-ie7', media: 'screen' %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag 'pensions-guidance-ie8', media: 'screen' %><![endif]-->

  <%= stylesheet_link_tag 'pensions-guidance-print', media: 'print' %>

  <%= canonical_tag rescue nil %>

  <% if content_for?(:meta_description) %>
    <meta name="description" content="<%= content_for(:meta_description) %>">
  <% end %>

  <%# Tell IE11+ there is no "browserconfig.xml" %>
  <meta name="msapplication-config" content="none">

  <%# Crazy Egg Script %>
  <script type="text/javascript">
    setTimeout(function() {
      var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0047/7217.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)
    }, 1);
  </script>
  <%# End Crazy Egg Script %>
<% end %>

<% content_for :body_start do %>
  <%= yield :data_layer %>

  <%# Google Tag Manager %>
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PPZZQ9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PPZZQ9');</script>
  <%# End Google Tag Manager %>
<% end %>


<% content_for :content do %>
  <%= yield %>
<% end %>

<% content_for :cookie_message do %>
  <p>Pension Wise uses cookies to make the site simpler. <a href="/cookies">Find out more about
    cookies</a></p>
<% end %>

<% content_for :footer_support_links do %>
  <div class="footer-meta-inner l-footer-meta">
    <h2 class="visuallyhidden">Support links</h2>
    <ul>
      <li><a href="/cookies">Cookies</a></li>
      <li><a href="/privacy">Privacy policy</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/cymraeg">Cymraeg</a></li>
      <li><a href="http://gov.uk/help/accessibility/" rel="external">Accessibility</a></li>
      <li><a href="/after-your-appointment" class="t-appointment-summary-link">After your appointment</a></li>
    </ul>
  </div>
<% end %>

<% content_for :footer_top do %>
  <%= render 'components/footer_categories', categories: navigation.topics %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://cdn3.userzoom.com/uz.js?cuid=C85E515772DAE311BEDA0022196C4538' %>

  <%# UserZoom intercept %>
  <script type="text/javascript">
    //<![CDATA[
    _uzactions = window._uzactions || [];
    _uzactions.push(['_setID', '62E9CC66721EE6118CAD0022196C2B88']);
    _uzactions.push(['_setSID', '24D87C60721EE6118CAD0022196C2B88']);
    _uzactions.push(['_start']);
    (function () {
      var uz = document.createElement('script');
      uz.type = 'text/javascript';
      uz.async = true;
      uz.charset = 'utf-8';
      uz.src = 'https://cdn4.userzoom.com/trueintent/js/uz_til.js?cuid=C85E515772DAE311BEDA0022196C4538';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(uz, s);
    })();
    //]]>
  </script>
  <%# End UserZoom intercept %>

  <%= yield :after_script %>
<% end %>

<%= render template: 'layouts/govuk_template' %>
