<% content_for :head do %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag 'pensions-guidance', media: 'screen' %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag 'pensions-guidance-ie6', media: 'screen' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'pensions-guidance-ie7', media: 'screen' %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag 'pensions-guidance-ie8', media: 'screen' %><![endif]-->

  <%= canonical_tag rescue nil %>

  <% if content_for?(:meta_description) %>
    <meta name="description" content="<%= content_for(:meta_description) %>">
  <% end %>

  <%# Tell IE11+ there is no "browserconfig.xml" %>
  <meta name="msapplication-config" content="none">
<% end %>

<% content_for :body_start do %>
  <%= yield :data_layer %>

  <%# Google Tag Manager %>
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PPZZQ9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PPZZQ9');</script>
  <%# End Google Tag Manager %>
<% end %>

<% content_for :inside_header do %>

<% end %>

<% content_for :content do %>
  <%= yield %>
<% end %>

<% content_for :cookie_message do %>
  <p>Pension Wise uses cookies to make the site simpler. <a href="/cookies">Find out more about
    cookies</a></p>
<% end %>

<% content_for :footer_top do %>
  <div class="footer-categories">
    <div class="footer-inside-government">
      <h2>Your pension details</h2>
      <ul>
        <li><a href="/pension-types">Know your pension type</a></li>
        <li><a href="/pension-pot-value">Know your pension value</a></li>
        <li><a href="/understand-your-statement">Understand your pension statement</a></li>
        <li><a href="/state-pension">The State Pension</a></li>
      </ul>
    </div>
    <div class="footer-explore t-article-links">
      <h2>Taking your pension money</h2>
      <ul>
        <li><a href="/leave-pot-untouched">Leave your pot untouched</a></li>
        <li><a href="/guaranteed-income">Get a guaranteed income (annuity)</a></li>
        <li><a href="/adjustable-income">Get an adjustable income</a></li>
        <li><a href="/take-cash-in-chunks">Take cash in chunks</a></li>
        <li><a href="/take-whole-pot">Take your whole pot</a></li>
        <li><a href="/mix-options">Mix your options</a></li>
      </ul>
      <ul>
        <li><a href="/combine-pension-pots">Combine different pension pots</a></li>
        <li><a href="/shop-around">Shop around and compare providers</a></li>
        <li><a href="/making-money-last">Making your money last</a></li>
        <li><a href="/work-out-income">Work out what you’ll have in retirement</a></li>
        <li><a href="/scams">Avoiding scams</a></li>
      </ul>
    </div>
    <div class="footer-inside-government">
      <h2>Tax and getting advice</h2>
      <ul>
        <li><a href="/tax">Tax on your pension money</a></li>
        <li><a href="/seeing-financial-adviser">Seeing a financial adviser</a></li>
        <li><a href="/benefits">Benefits entitlement</a></li>
        <li><a href="/debt">Debt</a></li>
      </ul>
    </div>
    <div class="footer-inside-government">
      <h2>Illness and death</h2>
      <ul>
        <li><a href="/benefits">Ill health</a></li>
        <li><a href="/care-costs">Care costs</a></li>
        <li><a href="/when-you-die">When you die</a></li>
      </ul>
    </div>
    <div class="footer-inside-government">
      <h2>More...</h2>
      <ul>
        <li><a href="/living-abroad">Living abroad</a></li>
        <li><a href="/divorce">Divorce</a></li>
        <li><a href="/protection">Pension compensation</a></li>
      </ul>
    </div>
  </div>
<% end %>

<% content_for :footer_support_links do %>
  <div class="footer-meta-inner">
    <h2 class="visuallyhidden">Support links</h2>
    <ul>
      <li><a href="/cookies">Cookies</a></li>
      <li><a href="/privacy">Privacy policy</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/cymraeg">Cymraeg</a></li>
    </ul>
  </div>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://cdn3.userzoom.com/uz.js?cuid=C85E515772DAE311BEDA0022196C4538' %>

  <%# UserZoom intercept %>
  <script type="text/javascript">
    //<![CDATA[
    _uzactions = window._uzactions || [];
    _uzactions.push(['_setID', 'BAA227FACD7BE511818F0022196C2B88']);
    _uzactions.push(['_setSID', 'B9A227FACD7BE511818F0022196C2B88']);
    _uzactions.push(['_start']);
    (function () {
      var uz = document.createElement('script');
      uz.type = 'text/javascript';
      uz.async = true;
      uz.charset = 'utf-8';
      uz.src = 'https://cdn4.userzoom.com/trueintent/js/uz_til.js?cuid=C85E515772DAE311BEDA0022196C4538';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(uz, s);
    })();
    //]]>
  </script>
  <%# End UserZoom intercept %>

  <%= yield :after_script %>
<% end %>

<%= render template: 'layouts/govuk_template' %>
