<%
  # hacky way to disable govuk_template's cookie banner
  @omit_cookie_message = true
%>

<% content_for :html_lang, default_locale? || !content_lang_matches_locale? ? I18n.default_locale : I18n.locale %>

<% content_for :head do %>
  <%= csrf_meta_tag %>

  <!--[if gt IE 8]><!--><%= stylesheet_link_tag 'pensions-guidance', media: 'screen' %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag 'pensions-guidance-ie6', media: 'screen' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'pensions-guidance-ie7', media: 'screen' %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag 'pensions-guidance-ie8', media: 'screen' %><![endif]-->

  <%= yield :override_styles %>

  <%= stylesheet_link_tag 'pensions-guidance-print', media: 'print' %>

  <% if params[:locale] %>
    <% I18n.available_locales.each do |alternate_locale| %>
      <link href="<%= alternate_url(alternate_locale, only_path: false) %>" hreflang="<%= alternate_locale %>-GB" rel="alternate" />
    <% end %>
  <% end %>

  <% if !default_locale? && !content_lang_matches_locale? %>
    <link href="<%= alternate_url(I18n.default_locale, host: canonical_host, protocol: canonical_protocol) %>" rel="canonical" />
  <% else %>
    <%= canonical_tag rescue nil %>
  <% end %>

  <% if content_for?(:meta_description) %>
    <meta name="description" content="<%= content_for(:meta_description) %>">
  <% end %>

  <%# Tell IE11+ there is no "browserconfig.xml" %>
  <meta name="msapplication-config" content="none">
<% end %>

<% content_for :body_start do %>
  <%= yield :data_layer %>

  <%# Google Tag Manager %>
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PPZZQ9"
    height="0" width="0" style="display:none;visibility:hidden" title="Google analytics" aria-hidden="true"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PPZZQ9');</script>
  <%# End Google Tag Manager %>

<% end %>


<% content_for :content do %>
  <% if params[:locale] %>
    <%= render 'components/language_toggle' %>
  <% end %>

  <div class="maps-header" role="region" aria-label="<%= t('.provided_by') %> <%= t('.logo_text') %>">
    <div class="maps-header-wrapper">
      <div class="maps-header-meta">
        <span class="maps-text"><%= t('.provided_by') %></span>
        <a href="https://www.moneyandpensionsservice.org.uk" target="_blank">
          <%= image_tag("maps_logo_#{I18n.locale}.png", class: 'maps-logo', alt: t('.logo_text')) %>
        </a>
      </div>
    </div>
  </div>

  <%= yield %>
<% end %>

<% content_for :footer_support_links do %>
  <div class="footer-meta-inner l-footer-meta">
    <h2 class="visuallyhidden">Support links</h2>
    <ul>
      <% t('layout.footer_support_links').each do |link| %>
        <li><%= link_to link[:title], link[:url], link[:options] %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :footer_top do %>
  <% if footer? %>
    <% cache "footer_categories_#{I18n.locale}", expires_in: 2.hours do %>
      <%= render 'components/footer_categories', categories: navigation.topics %>
    <% end %>
  <% end %>
<% end %>

<% content_for :body_end do %>
  <div class="maps-footer" role="region" aria-label="<%= t('.provided_by') %> <%= t('.logo_text') %>">
    <div class="maps-footer-wrapper">
      <div class="maps-footer-meta">
        <span class="maps-text"><%= t('.provided_by') %></span>
        <a href="https://www.moneyandpensionsservice.org.uk" target="_blank">
          <%= image_tag("maps_logo_#{I18n.locale}.png", class: 'maps-logo', alt: t('.logo_text')) %>
        </a>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>

  <%= render 'components/cookie_banner' %>

  <% if Rails.env.test? %>
    <%#
    Disable jQuery animations in the test environment to
    increase speed of the test suite and give us a more
    consistent DOM to make assertions against. Without this,
    we were seeing frequent intermittent test failures.
    %>
    <script>
      $.fx.off = true;
    </script>
  <% end %>

  <%= yield :after_script %>
<% end %>

<%= render template: 'layouts/govuk_template' %>
