<% content_for :html_lang, I18n.locale %>

<% content_for :head do %>
  <%= csrf_meta_tag %>

  <!--[if gt IE 8]><!--><%= stylesheet_link_tag 'pensions-guidance', media: 'screen' %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag 'pensions-guidance-ie6', media: 'screen' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'pensions-guidance-ie7', media: 'screen' %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag 'pensions-guidance-ie8', media: 'screen' %><![endif]-->

  <%= yield :override_styles %>

  <%= stylesheet_link_tag 'pensions-guidance-print', media: 'print' %>

  <% if params[:locale] %>
    <% I18n.available_locales.each do |alternate_locale| %>
      <link href="<%= url_for(params.permit(:id, :ici, :icn, :locale).merge(locale: alternate_locale, only_path: false)) %>" hreflang="<%= alternate_locale %>-GB" rel="alternate" />
    <% end %>
  <% end %>

  <% unless content_for?(:canonical_path) %>
    <%= canonical_tag rescue nil %>
  <% else %>
    <link href="<%= canonical_protocol + canonical_host + content_for(:canonical_path) %>" rel="canonical" />
  <% end %>

  <% if content_for?(:meta_description) %>
    <meta name="description" content="<%= content_for(:meta_description) %>">
  <% end %>

  <%# Tell IE11+ there is no "browserconfig.xml" %>
  <meta name="msapplication-config" content="none">
<% end %>

<% content_for :body_start do %>
  <%= yield :data_layer %>

  <%# Google Tag Manager %>
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PPZZQ9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PPZZQ9');</script>
  <%# End Google Tag Manager %>
<% end %>


<% content_for :content do %>
  <% if params[:locale] %>
    <%= render 'components/language_toggle' %>
  <% end %>

  <%= yield %>
<% end %>

<% content_for :cookie_message do %>
  <p>
    Pension Wise uses cookies to make the site simpler.
    <%= link_to 'Find out more about cookies', guide_path('cookies') %>
  </p>
<% end %>

<% content_for :footer_support_links do %>
  <div class="footer-meta-inner l-footer-meta">
    <h2 class="visuallyhidden">Support links</h2>
    <ul>
      <li><%= link_to 'Cookies', guide_path('cookies') %></li>
      <li><%= link_to 'Privacy', guide_path('privacy') %></li>
      <li><%= link_to 'Contact', guide_path('contact') %></li>
      <li><%= link_to 'Cymraeg', guide_path('cymraeg'), lang: :cy %></li>
      <li><%= link_to 'Accessibility', 'http://gov.uk/help/accessibility/', rel: 'external' %></li>
      <li><%= link_to 'Customer promise', guide_path('customer-promise') %></li>
      <li><%= link_to 'After your appointment', guide_path('after-your-appointment'), class: 't-appointment-summary-link' %></li>
    </ul>
  </div>
<% end %>

<% content_for :footer_top do %>
  <%= render 'components/footer_categories', categories: navigation.topics if footer? %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>

  <% if Rails.env.test? %>
    <%#
    Disable jQuery animations in the test environment to
    increase speed of the test suite and give us a more
    consistent DOM to make assertions against. Without this,
    we were seeing frequent intermittent test failures.
    %>
    <script>
      $.fx.off = true;
    </script>
  <% end %>

  <%= yield :after_script %>
<% end %>

<%= render template: 'layouts/govuk_template' %>
