<%= render layout: 'layouts/base' do %>
  <div class="l-masthead">
    <div class="l-banner-container">
      <%= render 'components/phase_banner' %>
      <%= render 'components/logo_link' %>
    </div>
  </div>

  <div class="l-page-container">
    <%= render 'components/breadcrumbs' %>

    <div class="l-grid-row">
      <div class="l-column-two-thirds">
        <main role="main" id="content" tabindex="-1">
          <%= yield %>
        </main>
      </div>
      <div class="l-column-third l-column-third--sidebar">
        <% if content_for?(:sidebar) %>
          <div class="sidebar-hr"></div>
          <%= yield :sidebar %>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
