<%= render layout: 'layouts/base' do %>
  <div class="l-masthead">
    <div class="l-banner-container">
      <%= render 'components/phase_banner' %>
      <%= render 'components/logo_link' %>

      <%= render 'components/quick_links' %>

      <div class="l-book-appointment">
        <a href="/appointments" class="l-book-appointment__link">Book a free appointment</a>
      </div>
    </div>
  </div>


  <div class="l-page-container">
    <%= render 'components/breadcrumbs' %>

    <div class="l-grid-row">
      <div class="l-column-two-thirds">
        <main role="main" id="content" tabindex="-1">
          <%= yield %>
        </main>
      </div>
      <div class="l-column-third l-column-third--sidebar">
        <% if content_for?(:sidebar) %>
          <div class="sidebar-hr"></div>
          <%= yield :sidebar %>
        <% end %>

        <% if content_for?(:sticky_sidebar) %>
          <div class="l-sticky-sidebar sticky-sidebar sticky-sidebar--<%= page_id %>">
            <div class="sidebar-hr"></div>
            <%= yield :sticky_sidebar %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
