<%= render layout: 'layouts/base' do %>
  <div class="l-masthead">
    <div class="l-banner-container">
      <%= render 'components/logo_link' %>
      <%= render 'components/page_nav' %>
    </div>
  </div>

  <main role="main" id="content" tabindex="-1">
    <%= render 'components/breadcrumbs' %>

    <div class="l-grid-row">
      <div class="l-column-two-thirds">
        <%= yield %>
      </div>
      <div class="l-column-third l-column-third--sidebar">
        <% if book_an_appointment_link? %>
          <a href="/appointments<%= defined?(@guide) ? "?icn=book-appointment&ici=#{@guide.ga_origin}" : '' %>" class="book-appointment">Book a free appointment</a>
        <% end %>

        <%= yield :sidebar %>
        <%= yield :sticky_sidebar %>
      </div>
    </div>
  </main>
<% end %>
