<%
  @omit_header = true
  @omit_footer = true
  @omit_skiplink_container = true
  @omit_cookie_message     = true

  content_for :body_classes, 't-full-width-widget'
%>

<% content_for :head do %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag 'pensions-guidance', media: 'screen' %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag 'pensions-guidance-ie6', media: 'screen' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'pensions-guidance-ie7', media: 'screen' %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag 'pensions-guidance-ie8', media: 'screen' %><![endif]-->

  <%= stylesheet_link_tag 'money-helper-overrides', media: 'screen' %>

  <%# Tell IE11+ there is no "browserconfig.xml" %>
  <meta name="msapplication-config" content="none">

  <meta name="facebook-domain-verification" content="svb9ddjicsbg36ugwkz0axot9upuy6" />

<% end %>

<% content_for :content do %>
  <main role="main" id="content" tabindex="-1">
    <%# Grid Parent %>
    <% if flash[:alert] %>
      <div class="l-grid-row">
        <div class="error-summary alert-alert" aria-labelledby="error-summary-heading" role="alert" data-error-summary>
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading"><%= t('pension_type_tool.error_title') %></h2>
          <ul>
            <li><%= link_to t('pension_type_tool.error'), '#question' %></li>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="l-grid-row">
      <%# Content %>
      <%= yield %>

      <%# Sidebar %>
      <% if content_for?(:sidebar || :sticky_sidebar) %>
        <div class="l-column-third l-column-third--sidebar">
          <%= yield :sidebar %>
          <%= yield :sticky_sidebar %>
        </div> 
      <% end %> 
    </div>
  </main>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>

  <% if Rails.env.test? %>
    <%#
    Disable jQuery animations in the test environment to
    increase speed of the test suite and give us a more
    consistent DOM to make assertions against. Without this,
    we were seeing frequent intermittent test failures.
    %>
    <script>
      $.fx.off = true;
    </script>
  <% end %>

  <%= yield :after_script %>

  <% unless Rails.env.development? %>
    <%= javascript_include_tag 'iframe-resizer' %>
    <%= javascript_include_tag 'auto-scroller' %>
    <%= javascript_tag(nonce: true) do %>
      window.PWPG.iframeResizer.start();
      window.PWPG.autoScroller.start();
    <% end %>
  <% end %>
<% end %>

<%= render template: 'layouts/govuk_template' %>
