<%= render layout: 'layouts/base' do %>
  <div class="l-masthead">
    <div class="l-banner-container">
      <%= render 'components/logo_link' %>
      <%= render 'components/page_nav' %>
    </div>
  </div>
  <%= render 'components/language_banner' unless default_locale? || content_lang_matches_locale? %>
  <main id="content" tabindex="-1">
    <%= render 'components/breadcrumbs' %>
    <%= yield %>
  </main>
<% end %>
