<%= render layout: 'layouts/base' do %>
  <div class="l-masthead">
    <div class="l-banner-container">
      <%= render 'components/phase_banner' %>
      <%= render 'components/logo_link' %>

      <%= render 'components/quick_links' %>
    </div>
  </div>

  <div class="l-page-container">
    <%= render 'components/phase_banner' %>

    <main role="main" id="content" tabindex="-1">
      <%= yield %>
    </main>

  </div>
<% end %>
