<%= yield :top_of_page %>
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="<%= content_for?(:html_lang) ? yield(:html_lang) : "en" %>"><![endif]-->
<!--[if gt IE 8]><!--><html lang="<%= content_for?(:html_lang) ? yield(:html_lang) : "en" %>"><!--<![endif]-->
  <head>
    <%= csp_meta_tag %>
    <meta charset="utf-8" />
    <title><%= content_for?(:page_title) ? yield(:page_title) : "GOV.UK - The best place to find government services and information" %></title>

    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "govuk-template.css", integrity: true, crossorigin: "anonymous" %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "govuk-template-ie6.css" %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "govuk-template-ie7.css" %><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "govuk-template-ie8.css" %><![endif]-->
    <%= stylesheet_link_tag "govuk-template-print.css", media: "print", integrity: true, crossorigin: "anonymous" %>

    <%= stylesheet_link_tag "fonts.css", media: "all", integrity: true, crossorigin: "anonymous" %>
    <!--[if lt IE 9]><%= javascript_include_tag "ie.js", integrity: true, crossorigin: "anonymous" %><![endif]-->

    <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon" />
    <%# the colour used for mask-icon is the standard palette $black from
        https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/colours/_palette.scss %>
    <link rel="mask-icon" href="<%= asset_path 'gov.uk_logotype_crown.svg' %>" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path "apple-touch-icon-180x180.png" %>">
    <link rel="apple-touch-icon" sizes="167x167" href="<%= asset_path "apple-touch-icon-167x167.png" %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path "apple-touch-icon-152x152.png" %>">
    <link rel="apple-touch-icon" href="<%= asset_path "apple-touch-icon.png" %>">

    <% if content_for?(:canonical) %>
      <link rel="canonical" href="<%= yield(:canonical) %>" />
    <% end %>
    <meta name="robots" content="noindex,nofollow">

    <%# the colour used for theme-color is the standard palette $black from
        https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/colours/_palette.scss %>
    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= yield :head %>

    <%# The default og:image is added below :head so that scrapers see any custom metatags first, and this is just a fallback %>
    <meta property="og:image" content="<%= asset_path "opengraph-image.png" %>">

    <% if ENV['INCLUDE_AEM_ANALYTICS'] == 'true' %>
      <% if Rails.env.production? %>
        <script type="text/javascript" src="//assets.adobedtm.com/c3a3920a84ef/2104df5e2099/launch-a40370bb1e84.min.js" async></script>
        <script type="text/javascript" src="//www.moneyhelper.org.uk/etc.clientlibs/maps/core/clientlibs/clientlib-digitaldata.min.536e82a039f309f9f59b3e9e3dab024f.js" defer></script>
      <% elsif Rails.env.staging? || Rails.env.development? %>
        <script type="text/javascript" src="https://assets.adobedtm.com/c3a3920a84ef/2104df5e2099/launch-834de5c44d2c-staging.min.js" async></script>
      <% end %>
    <% end %>

    <%= javascript_tag(nonce: true) do %>
      window.adobeDataLayer ||= [];
      adobeDataLayer.push({
        "event": "pageLoadRuby",
        "page": {
          "pageName": "<%= j(content_for(:page_name)) %>",
          "pageTitle": "<%= j(content_for(:page_title)) %>",
          "lang": "<%= I18n.locale %>",
          "site": "moneyhelper",
          "pageType": "tool page"
        },
        "tool": {
          "toolName": "<%= content_for(:tool_name) %>",
          "toolCategory": "",
          "toolStep": "<%= content_for(:tool_step) %>",
          "stepName": "<%= content_for(:step_name) %>"
        }
      });
    <% end %>
  </head>

  <body<%= content_for?(:body_classes) ? raw(" class=\"#{yield(:body_classes)}\"") : '' %>>

  <!-- Informizely code for site "moneyhelper.org.uk". Place this code right after the <body> tag on every page of your site. -->

  <%= javascript_tag(nonce: true, id: '_informizely_script_tag') do %>
    var IzWidget = IzWidget || {};
    (function (d) {
      var scriptElement = d.createElement('script');
      scriptElement.type = 'text/javascript'; scriptElement.async = true;
      scriptElement.src = "https://insitez.blob.core.windows.net/site/8a33e5b3-23da-46d4-9c32-8b9c38aeaeda.js";
      var node = d.getElementById('_informizely_script_tag');
      node.parentNode.insertBefore(scriptElement, node);
    })(document);
  <% end %>
  <noscript><a href="https://www.informizely.com/">Informizely customer feedback surveys</a></noscript>
  <!-- End Informizely code. -->

  <%# START Google Tag Manager embed code %>
  <% if Rails.env.production? %>
    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NQD7M4S" height="0" width="0" style="display:none;visibility:hidden" title="Google Tag Manager"></iframe>
    </noscript>
    <%= javascript_tag(nonce: true) do %>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f.nextSibling);
      })(window, document, 'script', 'dataLayer', 'GTM-NQD7M4S');
    <% end %>
  <% end %>
  <%# END Google Tag Manager embed code %>

    <%= javascript_tag(nonce: true) do %>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    <% end %>

    <%= yield :body_start %>

    <% unless @omit_skiplink_container %>
    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink"><%= content_for?(:skip_link_message) ? yield(:skip_link_message) : "Skip to main content" %></a>
      </div>
    </div>
    <% end %>

    <% unless @omit_cookie_message %>
    <div id="global-cookie-message">
      <% if content_for?(:cookie_message) %>
        <%= yield :cookie_message %>
      <% else %>
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner clicked">Find out more about cookies</a></p>
      <% end %>
    </div>
    <% end %>

    <% unless @omit_header %>
    <header role="banner" id="global-header" class="<%= yield(:header_class) %>">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="<%= content_for?(:homepage_url) ? yield(:homepage_url) : "https://www.gov.uk/" %>" title="<%= content_for?(:logo_link_title) ? yield(:logo_link_title) : "Go to the GOV.UK homepage" %>" id="logo" class="content" data-module="track-click" data-track-category="homeLinkClicked" data-track-action="homeHeader">
              <img src="<%= asset_path 'gov.uk_logotype_crown_invert_trans.png' %>" width="36" height="32" alt=""> <%= content_for?(:global_header_text) ? yield(:global_header_text) : "GOV.UK" %>
            </a>
          </div>
          <%= yield :inside_header %>
        </div>
        <%= yield :proposition_header %>
      </div>
    </header>
    <% end %>

    <%= yield :after_header %>

    <div id="global-header-bar"></div>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <% unless @omit_footer %>
    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        <%= yield :footer_top %>

        <div class="footer-meta">
          <div class="footer-meta-inner">
            <%= yield :footer_support_links %>

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <% if content_for?(:licence_message) %>
                <%= yield :licence_message %>
              <% else %>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
              <% end %>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"><%= content_for?(:crown_copyright_message) ? yield(:crown_copyright_message) : "© Crown copyright" %></a>
          </div>
        </div>
      </div>
    </footer>
    <% end %>

    <div id="global-app-error" class="app-error hidden"></div>

    <%= javascript_include_tag "govuk-template.js", integrity: true, crossorigin: "anonymous" %>

    <%= yield :body_end %>

    <%# if no GOVUK-namespaced module has loaded we can assume JS has failed and remove the class %>
    <%= javascript_tag(nonce: true) do %>
      if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');
    <% end %>
  </body>
</html>
