<%= render layout: 'layouts/two_column' do %>
  <article class="text">
    <% if flash[:alert] %>
      <div class="error-summary" aria-labelledby="error-summary-heading" role="alert" data-error-summary data-error-group>
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading"><%= t('pension_type_tool.error_title') %></h2>
        <ul class="error-summary-list">
          <li><%= link_to t('pension_type_tool.error'), '#question' %></li>
        </ul>
      </div>
    <% end %>

    <%= yield %>
  </article>

  <% content_for :sticky_sidebar do %>
    <% if defined?(@guide) && @guide.call_to_action? %>
      <aside class="l-sticky-sidebar js-sticky-sidebar">
        <%= render partial: 'shared/specialist_call_out' %>
      </aside>

      <% content_for :after_script do %>
        <%= javascript_include_tag 'bootstrap/js/affix' %>
        <%= javascript_include_tag 'bootstrap/js/scrollspy' %>

        <script>
          'use strict';
          $('.js-sticky-sidebar').affix({
            offset: {
              top: $('.js-sticky-sidebar').offset().top,
              bottom: function () {
                return (this.bottom = $('.js-footer').outerHeight(true) + 150);
              }
            }
          });

          $('body').scrollspy({
            target: '.js-sticky-sidebar',
            offset: 50
          });
        </script>
      <% end %>
    <% end %>
  <% end %>
<% end %>
